<!-- start: DASHBOARD TITLE -->
<!--<style>
        [class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>-->
<section id="page-title" class="padding-top-15 padding-bottom-15" ng-init="app.layout.isSidebarClosed=true" ng-controller="VisitsCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h1 class="mainTitle" translate-values="{ appName: app.name }" ng-if="!selectedStoreName">{{ mainTitle }} {{user.Store.name}}</h1>
                <h1 class="mainTitle" translate-values="{ appName: app.name }" ng-if="selectedStoreName">{{ mainTitle }} {{selectedStoreName}}</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left pull-right" ng-click="Back()">
                    <span translate="main.BACK">Back</span>
                </a>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <span translate="dashboard.OVERVIEW" class="mainDescription"></span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left visible-lg visible-md">
            <ul class="mini-stats pull-right">
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="saless" type="bar" height="20px" bar-color="#D43F3A"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">{{OrderTotalCount}} Adet</strong>
                        <p class="text-small no-margin">
                            {{:: sales}}
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="earnings" type="bar" height="20px" bar-color="#5CB85C"></span>
                    </div>
                    <div class="values">
                        <!--<strong class="text-dark" ng-if="user.Store.MemberID == 106851154380">₺ {{OrderTotalAmount * 100 / 108 | number:2}}</strong>-->
                        <strong class="text-dark" ng-if="user.Store.MemberID == 106851154380">₺ {{OrderTotalAmount | number:2}}</strong>
                        <strong class="text-dark" ng-if="user.Store.MemberID != 106851154380">₺ {{OrderTotalAmount | number:2}}</strong>
                        <p class="text-small no-margin" ng-if="user.Store.MemberID == 106851154380">
                            {{:: totalnetamount }}
                        </p>
                        <p class="text-small no-margin" ng-if="user.Store.MemberID != 106851154380">
                            {{:: totalamount }}
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="referrals" type="bar" height="20px" bar-color="#46B8DA"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">₺ {{OrderTotalAmount / OrderTotalCount | number:2}}</strong>
                        <p class="text-small no-margin">
                            {{:: average}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <br />
        <div class="visible-sm visible-xs">
            <div class="col-ms-4 col-xs-4">
                <div class="sparkline">
                    <span jq-sparkline ng-model="saless" type="bar" height="20px" bar-color="#D43F3A"></span>
                </div>
                <div class="values">
                    <strong class="text-dark">{{OrderTotalCount}} Adet</strong>
                    <p>
                        {{:: sales}}
                    </p>
                </div>
            </div>
            <div class="col-ms-4 col-xs-4">
                <div class="sparkline">
                    <span jq-sparkline ng-model="earnings" type="bar" height="20px" bar-color="#5CB85C"></span>
                </div>
                <div class="values">
                    <strong class="text-dark">{{OrderTotalAmountTXT}} </strong>
                    <p>
                        {{:: totalamount }}
                    </p>
                </div>
            </div>
            <div class="col-ms-4 col-xs-4">
                <div class="sparkline">
                    <span jq-sparkline ng-model="referrals" type="bar" height="20px" bar-color="#46B8DA"></span>
                </div>
                <div class="values">
                    <strong class="text-dark">{{OrderACTXT}}</strong>
                    <p>
                        {{:: average}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center" ng-if="ShowSpinnerObject == true">
    <span class="margin-bottom-10 visible-lg">
        <img src="assets/images/loader.gif" />
    </span>
    <span class="margin-bottom-10 visible-md visible-sm visible-xs">
        <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
    </span>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="ShowSpinnerObject == true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" ng-controller="VisitsCtrl">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <fieldset class="panel panel-white no-radius">
                    <legend> {{'main.STOREPERFORMANCEDATA' | translate}}</legend>
                    <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table ng-table table-responsive">
                        <tr>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.ORDERCOUNT' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.TRANSFERREDDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.AWAITINGAUTHDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BUILDINGDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.PREPARINGDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.PREPAREDDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.WAITINGPERIOD' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.OUTDURATION' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.DELIVERYPERIOD' | translate}}</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.REALDELIVERYTIME' | translate}} (OKC) </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BELOW30' | translate}} </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BELOW30' | translate}} %</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BEYOND30' | translate}} </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BEYOND30' | translate}} %</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BEYOND45' | translate}} </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.BEYOND45' | translate}} %</th>
                        </tr>
                        <tr>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.OrdersCount}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.TransferredDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.AwaitingAuthDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.BuildingDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.PeparingDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.PeparedDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.WaitingPeriod}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.OutDuration}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.DeliveryPeriod}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.RealDeliveryTime}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Below30}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Below30Percent |number :2}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Beyond30}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Beyond30Percent|number :2}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Beyond45}}
                                </span>
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="text-large text-bold">
                                    {{storePerformanceData.Beyond45Percent|number :2}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="VisitsCtrl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-white no-radius">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title text-bold" translate="main.TOTALSORDER"></h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <h3 class="inline-block no-margin">Total : {{OrderTotalCount}}</h3> <br />
                            <progressbar value="OrderTotalCount" class="progress-xs no-radius" type="success"></progressbar>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 margin-top-10" ng-repeat="ordertype in OrdersOrderType">
                                <h4 class="no-margin text-dark">{{ordertype.OrderType}}: {{ordertype.OrdersCount}}</h4>
                                <br />
                                <progressbar value="ordertype.OrdersCount" class="progress-xs no-radius no-margin" type="info"></progressbar>
                                <br />
                                <!--TC : <strong class="text-dark" ng-if="user.Store.MemberID == 106851154380">₺ {{ordertype.OrdersAmount * 100 / 108 | number:2}}</strong>-->
                                TC : <strong class="text-dark" ng-if="user.Store.MemberID == 106851154380">₺ {{ordertype.OrdersAmount | number:2}}</strong>
                                <strong class="text-dark" ng-if="user.Store.MemberID != 106851154380">₺ {{ordertype.OrdersAmount | number:2}}</strong>
                                <br />
                                AC : <strong class="text-dark">₺ {{ordertype.OrdersAverage | number:2}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="panel panel-white no-radius">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title text-bold" translate="main.TOTALSORDER%"></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row margin-top-5">
                            <div class="col-xs-3 text-center" ng-repeat="ordertype in OrdersOrderType">
                                <div class="rate">
                                    <i ng-class="{'fa fa-caret-up text-green':(ordertype.OrdersCount*100) / OrderTotalCount > 40 ,'fa fa-caret-down text-red':(ordertype.OrdersCount*100) / OrderTotalCount < 40}"></i><span class="percentage"> % </span><span class="value text-large">{{(ordertype.OrdersCount*100) / OrderTotalCount |number:2}}</span>
                                </div>
                                {{ordertype.OrderType}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="SalesCtrl">
            <div class="panel panel-white no-radius" id="visits">
                <div class="panel-heading border-light">
                    <h4 class="panel-title text-bold" translate="main.SALESTATISTICS"></h4>
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <ct-paneltool tool-refresh="load1"></ct-paneltool>
                        </li>
                    </ul>
                </div>
                <div class="margin-top-10">
                    <div class="panel-body">
                        <div style="height:400px;">
                            <canvas class="tc-chart" tc-chartjs-bar chart-options="options" chart-data="data" chart-legend="chart2"></canvas>
                            <div tc-chartjs-legend chart-legend="chart2" class="inline pull-left legend-xs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="VisitsCtrl">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">{{'main.THEORIC' | translate}} ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostIdealData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Ideal *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-larget tooltips" tooltip="{{'main.IDEALCOSTS' | translate}}"  tooltip-placement="top"> {{InventoryCost.Ideal *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="{{'main.THEORICINVANTORIES' | translate}}" tooltip-placement="top">{{InventoryCost.FoodCost | number: 2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="{{'main.GRANDTOTALS' | translate}}"  tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">{{'main.ACTUALCOST' | translate}}  ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostRealData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Real *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="{{'main.ACTUALCALCULATEREMAINDERLIST' | translate}}" tooltip-placement="top"> {{InventoryCost.Real *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="{{'main.ACTUALINVANTORIES' | translate}}" tooltip-placement="top"> {{InventoryCost.RealFoodCost | number: 2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="{{'main.GRANDTOTALS' | translate}}" tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">Atık Maliyet Tablosu ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostWasteData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Waste *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Atık Maliyet" tooltip-placement="top"> {{InventoryCost.Waste *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Atık Maliyet Malzeme Toplamı" tooltip-placement="top"> {{InventoryCost.WasteFoodCost | number: 2 }} TL</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="Toplam Satışlar" tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} TL</label>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="OnotherCtrl">
        <div class="panel panel-white">
            <div class="panel-heading border-light">
                <h4 class="panel-title text-bold" translate="main.SALESTOHOURS"></h4>
            </div>
            <div collapse="visits" ng-init="visits=false" class="panel-wrapper">
                <div class="panel-body">
                    <div class="height-350">
                        <canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
                        <div class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--<section id="page-title" class="padding-top-15 padding-bottom-15 visible-sm visible-xs" ng-init="app.layout.isSidebarClosed=true" ng-controller="VisitsCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h1 class="mainTitle" translate-values="{ appName: app.name }" ng-if="!selectedStoreName">{{ mainTitle }} {{user.Store.name}}</h1>
                <h1 class="mainTitle" translate-values="{ appName: app.name }" ng-if="selectedStoreName">{{ mainTitle }} {{selectedStoreName}}</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left pull-right" ng-click="Back()">
                    <span translate="main.BACK">Back</span>
                </a>
            </div>
        </div>
    </div>
</section>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs" ng-hide="ShowSpinnerObject == true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-white" ng-controller="VisitsCtrl">
                        <div class="panel panel-white no-radius">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title text-bold" translate="main.TOTALSORDER"></h4>
                            </div>
                            <div>
                                <ul class="mini-stats pull-right">
                                    <li>
                                        <div class="sparkline">
                                            <span jq-sparkline ng-model="saless" type="bar" height="20px" bar-color="#D43F3A"></span>
                                        </div>
                                        <div class="values">
                                            <strong class="text-dark">{{OrderTotalCount}} Adet</strong>
                                            <p class="text-small no-margin">
                                                {{:: sales}}
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sparkline">
                                            <span jq-sparkline ng-model="earnings" type="bar" height="20px" bar-color="#5CB85C"></span>
                                        </div>
                                        <div class="values">
                                            <strong class="text-dark" ng-if="user.Store.MemberID == 106851154380">₺ {{OrderTotalAmount * 100 / 108 | number:2}}</strong>
                                            <strong class="text-dark" ng-if="user.Store.MemberID != 106851154380">₺ {{OrderTotalAmount | number:2}}</strong>
                                            <p class="text-small no-margin" ng-if="user.Store.MemberID == 106851154380">
                                                {{:: totalnetamount }}
                                            </p>
                                            <p class="text-small no-margin" ng-if="user.Store.MemberID != 106851154380">
                                                {{:: totalamount }}
                                            </p>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="sparkline">
                                            <span jq-sparkline ng-model="referrals" type="bar" height="20px" bar-color="#46B8DA"></span>
                                        </div>
                                        <div class="values">
                                            <strong class="text-dark">₺ {{OrderTotalAmount / OrderTotalCount | number:2}}</strong>
                                            <p class="text-small no-margin">
                                                {{:: average}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-light-primary" style="max-height:110px;" ng-repeat="ordertype in OrdersOrderType">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-large text-uppercase">
                                        <label class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left" style="color:white;">{{ordertype.OrderType}} : </label>
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-bold" style="color:white;">{{ordertype.OrdersCount}} {{:: piece}}</label>
                                    </span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-large">
                                        TC : <label class="text-bold" ng-if="user.Store.MemberID == 106851154380" style="color:white;"> {{ordertype.OrdersAmount * 100 / 108 | number:2}} TL</label>
                                        <label class="text-bold" ng-if="user.Store.MemberID != 106851154380" style="color:white;"> {{ordertype.OrdersAmount | number:2}} TL</label>
                                    </span>
                                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-large">
                                        AC : <label class="text-bold" style="color:white;"> {{ordertype.OrdersAverage | number:2}} TL</label>
                                    </span>
                                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <i ng-class="{'fa fa-caret-up text-green':(ordertype.OrdersCount*100) / OrderTotalCount > 40 ,'fa fa-caret-down text-red':(ordertype.OrdersCount*100) / OrderTotalCount < 40}"></i><span class="percentage"> % </span><span class="value text-large text-bold">{{(ordertype.OrdersCount*100) / OrderTotalCount |number:2}}</span>
                                    </span>
                                </div>
                                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-5">
                                    <progressbar value="ordertype.OrdersCount" class="progress-xs no-radius" type="info"></progressbar>
                                </span>
                            </div>
                        </div>
                </div>

                <br />
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="SalesCtrl">
            <div class="panel panel-white no-radius" id="visits">
                <div class="panel-heading border-light">
                    <h4 class="panel-title text-bold" translate="main.SALESTATISTICS"></h4>
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <ct-paneltool tool-refresh="load1"></ct-paneltool>
                        </li>
                    </ul>
                </div>
                <div class="margin-top-10">
                    <div class="panel-body">
                        <div style="height:400px;">
                            <canvas class="tc-chart" tc-chartjs-bar chart-options="options" chart-data="data" chart-legend="chart2"></canvas>
                            <div tc-chartjs-legend chart-legend="chart2" class="inline pull-left legend-xs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="VisitsCtrl">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">İdeal Maliyet Tablosu ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostIdealData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Ideal *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-larget tooltips" tooltip="Ideal Maliyet" tooltip-placement="top"> {{InventoryCost.Ideal *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Ideal Maliyet Malzeme Toplamı" tooltip-placement="top">{{InventoryCost.FoodCost | number: 2 }} TL</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="Toplam Satışlar" tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} TL</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">Gerçekleşen Maliyet Tablosu ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostRealData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Real *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Gerçekleşen Maliyet" tooltip-placement="top"> {{InventoryCost.Real *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Gerçekleşen Maliyet Malzeme Toplamı" tooltip-placement="top"> {{InventoryCost.RealFoodCost | number: 2 }} TL</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="Toplam Satışlar" tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} TL</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <h4 class="panel-title text-bold">Atık Maliyet Tablosu ({{InventoryCost.FromDateTXT}} / {{InventoryCost.ToDateTXT}})</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <span class="mini-pie"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="InventoryCostWasteData" chart-legend="chart3" width="100"></canvas> <span> % {{InventoryCost.Waste *100 |number:2 }}</span> </span>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix padding-5 space5">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Atık Maliyet" tooltip-placement="top"> {{InventoryCost.Waste *100 |number:2 }} %</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <label class="text-bold block text-extra-large tooltips" tooltip="Atık Maliyet Malzeme Toplamı" tooltip-placement="top"> {{InventoryCost.WasteFoodCost | number: 2 }} TL</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center no-padding">
                        <label class="text-bold block text-extra-large tooltips" tooltip="Toplam Satışlar" tooltip-placement="top">{{InventoryCost.SalesTotal | number: 2 }} TL</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="OnotherCtrl">
        <div class="panel panel-white">
            <div class="panel-heading border-light">
                <h4 class="panel-title text-bold" translate="main.SALESTOHOURS"></h4>
            </div>
            <div collapse="visits" ng-init="visits=false" class="panel-wrapper">
                <div class="panel-body">
                    <div class="height-350">
                        <canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
                        <div class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->





