<div class="panel-body">
    <div class="col-md-12 col-lg-12 center">
        <fieldset>
            <legend>
                Çıkış Kontrol Tablosu
            </legend>
            <table class="table table-hover col-lg-12" id="sample-table-1">
                <thead>
                    <tr>
                        <th class="col-lg-1">Tarih</th>
                        <th class="col-lg-1">Araç</th>
                        <th class="col-lg-1">Sipariş Numarası</th>
                        <th class="col-lg-2">Sipariş Adı</th>
                        <th class="col-lg-1">Paketçi</th>
                        <th class="col-lg-1">Paketçi Tel No</th>
                        <th class="col-lg-1">Çıkış Saati</th>
                        <th class="col-lg-1">Tahmini Dönüş Saati</th>
                        <th class="col-lg-1">Gidilen Bölge</th>
                        <th class="col-lg-1">Gidilen Adres</th>
                        <th class="col-lg-1">Çıkış Durumu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class ="col-lg-1"><span class="pull-left">04.11.2015</span></td>
                        <td class="col-lg-1"><span class="pull-left">34 ME 341 </span></td>
                        <td class="col-lg-1"><span class="pull-left">P462K221</span></td>
                        <td class="col-lg-2"><span class="pull-left">Pretzel Pizza</span></td>
                        <td class="col-lg-1"><span class="pull-left">Selami Gündoğdu</span></td>
                        <th class="col-lg-1"><span class="pull-left">05387172090</span></th>
                        <td class="col-lg-1"><span class="pull-left">12:22</span> </td>
                        <td class="col-lg-1"><span class="pull-left">12:37</span></td>
                        <td class="col-lg-1"><span class="pull-left">1</span></td>
                        <td class="col-lg-1"><span class="pull-left">Avcılar</span></td>
                        <td class="col-lg-1"><input type="checkbox" class="pull-left" /></td>
                    </tr>
            </table>
        </fieldset>
        <div>
            <a class="btn btn-danger ti-back-left pull-right" href="#/app/driverscreen/driverscreen">Back</a>
        </div>
    </div>
</div>