<style>
    #iframest {
        width: 1200px;
        height: 600px;
        border: hidden;
    }

    /*[class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }*/
</style>

<div ng-controller="settingitemCtrl as sti" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                <span class="mainTitle text-dark text-uppercase" style="font-size:25px;" translate="tittle.SETTINGITEMS"
                    translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right visible-lg visible-md">
                <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right"
                    ng-click="Back()">
                    <span translate="main.BACK"></span>
                </a>
            </div>
            <div print-remove class="col-sm-2 col-xs-2 margin-top-5 pull-right visible-sm visible-xs">
                <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div id="timeline">
                    <div class="timeline">
                        <ul class="columns">
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">01</span>
                                            </div>
                                            <div class="inline-block">
                                                <span
                                                    class="block week-day text-extra-large text-uppercase">{{'main.STARTNEWPERIOD'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Yeni Dönem Başlatma</b> için kullanılır. Butona tıkladığınızda yeni dönem
                                        oluşturulur ve bir önceki dönemde ki reçeteler yeni döneme kopyalanır.
                                    </div>
                                    <div class="readmore">
                                        <button class="btn btn-primary btn-o btn-wide" ng-click="StartNewPeriod()">
                                            <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span>
                                            <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                    class="fa fa-arrow-circle-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">02</span>
                                            </div>
                                            <div class="inline-block">
                                                <span
                                                    class="block week-day text-extra-large text-uppercase">{{'main.COPYRECIPES'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Reçete Kopyalama</b> için kullanılır. "Başlat" butonuna tıkladığınızda bir
                                        önceki dönemde ki reçeteler ve sistemde ekli olmayan malzemeler kopyalanır.
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 readmore">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="text-bold pull-left" translate="main.COPYFROMPERIOD">Dönem
                                                Seçimi</span><br />
                                            <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control"
                                                ng-options="q.id as q.name for q in periods | orderBy:'-StartDate'"
                                                ng-model="FromPeriodID" ng-change="GetPeriods(FromPeriodID)"></select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <span class="text-bold pull-left" translate="main.COPYTOPERIOD">Dönem
                                                Seçimi</span><br />
                                            <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control"
                                                ng-options="q.id as q.name for q in periods | orderBy:'-StartDate'"
                                                ng-model="ToPeriodID" ng-change="GetPeriods(ToPeriodID)"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="margin-top-5 pull-right">
                                            <button class="btn btn-primary btn-o btn-wide"
                                                ng-click="CopyRecipes(FromPeriodID, ToPeriodID)"
                                                ng-if="FromPeriodID && ToPeriodID">
                                                <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span>
                                                <span ng-if="isWaiting != true"> {{'main.START' | translate}} <i
                                                        class="fa fa-arrow-circle-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">03</span>
                                            </div>
                                            <div class="inline-block">
                                                <span
                                                    class="block week-day text-extra-large text-uppercase">{{'main.UPDATEINVENTORYPRICES'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Malzeme Fiyatlarını Ağırlıklı Ortalamaya Göre Güncelleme</b> için kullanılır.
                                        Hangi dönemde ki malzeme fiyatlarının ortalamaya göre hesaplanacağını belirlemek
                                        için "Dönem Seçimi" alanından dönem seçilir. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span class="text-bold pull-left" translate="main.SELECTPERIOD">Dönem
                                                Seçimi</span><br />
                                            <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control"
                                                ng-options="q.id as q.name for q in periods | orderBy:'-StartDate'"
                                                ng-model="PeriodID" ng-change="GetPeriods(PeriodID)"></select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-15 pull-right">
                                            <button class="btn btn-primary btn-o btn-wide"
                                                ng-click="UpdateInventoryPrice(PeriodID)" ng-if="PeriodID">
                                                <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span>
                                                <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                        class="fa fa-arrow-circle-right"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">04</span>
                                            </div>
                                            <div class="inline-block">
                                                <span
                                                    class="block week-day text-extra-large text-uppercase">{{'main.SAVECONSUPTIONS'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Tüketim Fişleri Yazdırma</b> için kullanılır. Tüketim fişleri yazılacak
                                        restoran ve başlangıç bitiş tarihleri seçilir. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <span class="text-bold pull-left" translate="main.STARTDATE">Başlangıç
                                                    Tarihi :*</span><br />
                                                <label><input id="Date" type="text" class="form-control"
                                                        ng-model="StartDate" readonly ng-click="FromDate()"
                                                        required></label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <span class="text-bold pull-left" translate="main.ENDDATE">Bitiş Tarihi
                                                    :*</span><br />
                                                <label><input id="Date" type="text" class="form-control"
                                                        ng-model="EndDate" readonly ng-click="ToDate()"
                                                        required></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <span class="text-bold pull-left" translate="main.STORE"></span><br />
                                                <select class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control"
                                                    ng-options="q.id as q.name for q in store |orderBy: '+name'"
                                                    ng-model="StoreID">
                                                    <option value="" selected>Tümü !</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <span class="text-bold pull-left" translate="main.STORETYPE">Restoran
                                                    Tipi</span><br />
                                                <select ng-model="StoreType" class="form-control"
                                                    ng-change="SetStoreTypeID(StoreType)">
                                                    <option value="-1" selected>{{'main.ALL' | translate}}</option>
                                                    <option ng-repeat="item in storetypes | orderBy:'+Name'"
                                                        value="{{item.Value}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="ccol-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-15 pull-right">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="SaveConsuption(StoreID)" ng-if="StartDate && EndDate">
                                                    <span class='fa fa-spin fa-spinner'
                                                        ng-if='isWaiting == true'></span>
                                                    <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.ORDERSREFERENCES'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Sipariş tarihilerini değiştirmek </b> için kullanılır.Başlangıç, Bitiş tarihi
                                        seçirler. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                            <div class="dx-viewport demo-container">
                                                <div class="dx-fieldset">
                                                    <div class="dx-field pull-left" style="    font-weight: 300;">
                                                        <div class="dx-field-label" translate="main.FROMDATE" >FormDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRanges.fromDate"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label"  translate="main.TODATE">ToDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRanges.toDate"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="correctopdates(DateRanges.fromDate,DateRanges.toDate)"
                                                    ng-if="DateRanges.fromDate && DateRanges.toDate">

                                                    <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">06</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.COPYTOROLE'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Var olan rolun yetkilerini kopyalamayak </b> için kullanılır.Role kopyalama
                                        için kullanılır.Role secilir , yeni açılan Role seçirler. Ve "Başlat" butonuna
                                        tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 readmore">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <span class="text-bold pull-left" >From Role Name</span><br />
                                                <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" ng-options="q.id as q.name for q in dxUserRole | orderBy:'-StartDate'" ng-model="FromRoleName" ng-change="GetPeriods(FromRoleName)"></select>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <span class="text-bold pull-left" >To Role Name</span><br />
                                                <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" ng-options="q.id as q.name for q in dxUserRole | orderBy:'-StartDate'" ng-model="ToRoleName" ng-change="GetPeriods(ToRoleName)"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="margin-top-5 pull-right">
                                                <button class="btn btn-primary btn-o btn-wide" ng-click="CopyRecipes(FromRoleName, ToRoleName)" ng-if="FromRoleName && ToRoleName">
                                                    <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span>
                                                    <span ng-if="isWaiting != true"> {{'main.START' | translate}}  <i class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="dx-viewport demo-container">
                                                <div class="dx-fieldset">
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label">From Role Name</div>
                                                        <div class="dx-field-value">
                                                            <div ng-model="FromRoleName" dx-text-box="FromRoleName">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label">To Role Name</div>
                                                        <div class="dx-field-value">
                                                            <div ng-model="ToRoleName" dx-text-box="ToRoleName"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="clonerestrictions(FromRoleName,ToRoleName)"
                                                    ng-if="FromRoleName && ToRoleName">
                                                    <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                           
                            <!-- <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">07</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.CALCULATEPRODUCTCOSTS'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Ürün Maliyetlerini Hesaplama </b> için kullanılır.Role kopyalama
                                        için kullanılır.Role secilir , yeni açılan Role seçirler. Ve "Başlat" butonuna
                                        tıklanır.
                                    </div>
                                    <div class="readmore"> -->
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 readmore">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <span class="text-bold pull-left" >From Role Name</span><br />
                                                <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" ng-options="q.id as q.name for q in dxUserRole | orderBy:'-StartDate'" ng-model="FromRoleName" ng-change="GetPeriods(FromRoleName)"></select>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <span class="text-bold pull-left" >To Role Name</span><br />
                                                <select class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" ng-options="q.id as q.name for q in dxUserRole | orderBy:'-StartDate'" ng-model="ToRoleName" ng-change="GetPeriods(ToRoleName)"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="margin-top-5 pull-right">
                                                <button class="btn btn-primary btn-o btn-wide" ng-click="CopyRecipes(FromRoleName, ToRoleName)" ng-if="FromRoleName && ToRoleName">
                                                    <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span>
                                                    <span ng-if="isWaiting != true"> {{'main.START' | translate}}  <i class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="dx-viewport demo-container"> -->
                                                <!-- <div class="dx-fieldset">
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label">From Role Name</div>
                                                        <div class="dx-field-value">
                                                            <div ng-model="FromRoleName" dx-text-box="FromRoleName">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label">To Role Name</div>
                                                        <div class="dx-field-value">
                                                            <div ng-model="ToRoleName" dx-text-box="ToRoleName"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        <!-- </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="CalculateProductCosts()">
                                                    <span ng-if="isWaiting != true">{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">07</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.PRODUCTCOSTCALCULATION'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>İki tarih arasında günlük ürün maliyetleri hesaplatmak </b> için kullanılır.Başlangıç, Bitiş tarihi
                                        seçirler. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                            <div class="dx-viewport demo-container">
                                                <div class="dx-fieldset">
                                                    <div class="dx-field pull-left" style="    font-weight: 300;">
                                                        <div class="dx-field-label" translate="main.FROMDATE">FormDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRange.fromDate"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label" translate="main.TODATE">ToDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRange.toDadte"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="CalculateDailyProductCosts()"
                                                    >

                                                    <span >{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">08</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.DECLAREDREVENUECORRECTION'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>İki tarih arasında  beyanları kontrol eder ve düzeltir. Gerekirse ekler.. </b>Başlangıç, Bitiş tarihi
                                        seçirler. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                            <div class="dx-viewport demo-container">
                                                <div class="dx-fieldset">
                                                    <div class="dx-field pull-left" style="    font-weight: 300;">
                                                        <div class="dx-field-label" translate="main.FROMDATE">FormDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRange.fromDate"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label" translate="main.TODATE">ToDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRange.toDadte"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="DeclaredRevenues()"
                                                    >

                                                    <span >{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">09</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large text-uppercase">{{'main.ORACLEALLSEND'
                                                    | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>İki tarih arasında  Orecle beyanları gönderimini sağlar. </b>Gönderilecek  başlangıç tarihi seçilir, Bitiş tarihi
                                        seçirler. Ve "Başlat" butonuna tıklanır.
                                    </div>
                                    <div class="readmore">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                            <div class="dx-viewport demo-container">
                                                <div class="dx-fieldset">
                                                    <div class="dx-field pull-left" style="    font-weight: 300;">
                                                        <div class="dx-field-label" translate="main.FROMDATE">FormDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRanges.fromDate"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dx-field pull-left">
                                                        <div class="dx-field-label" translate="main.TODATE">ToDate</div>
                                                        <div class="dx-field-value">
                                                            <div dx-date-box="DateRanges.toDate"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="readmore">
                                                <button class="btn btn-primary btn-o btn-wide"
                                                    ng-click="SendDeclaredRevenues()"
                                                    >

                                                    <span >{{'main.START' | translate}} <i
                                                            class="fa fa-arrow-circle-right"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>