<div class="modal-header">
    <h3 class="modal-title">{{'main.PLEASEINPUTYOURPASSWORD' | translate}}<button class="btn btn-o pull-right ti-close" ng-click="cancel()"></button></h3>
</div>  
 <div class="user-info panel panel-white panel-heading">
   <h4 class="text-center">{{user.name}}</h4>
     <div class="panel-body">
         <form class="form-login">
             <div class="form-group">
                 <div class="input-group">
                     <input  name="theInput" type="password" placeholder="{{'main.CARDCODE' | translate}}" class="form-control" ng-model="item.password" auto-focus> <!--ng-virtual-keyboard="{showKbSelect: true, numberPad: true,relative:true }"-->
                     <span class="input-group-btn">
                         <button class="btn btn-primary" type="submit" ng-click="InpuntKey(item.password)" autofocus>
                             <i class="fa fa-chevron-right"></i>
                         </button>
                     </span>
                 </div>
             </div>
         </form>
     </div>
</div>