<div class="panel-body" ng-controller="driverScreenCtrl as or">
</div>




    <div class="panel-body" ng-controller="driverScreenCtrl as or">
        <div class="row col-lg-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">P-12<input type="checkbox" class="pull-right" /></h5>
                    </div>
                    <div class="panel-body">
                        <!--<p class="text-small margin-bottom-20">
                            All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
                        </p>-->
                        <form role="form">
                            <!--<label>
                                Adisyon No : 074
                            </label><br />-->
                            <!--<label>
                                Garson :
                            </label><br />-->
                            <label>
                                Giriş Saati : 14:22
                            </label><br />
                            <label>
                                Çıkış Süresi : 00:10:00
                            </label><br />
                            <label>
                                Çıkış Saati : 14:32
                            </label><br />
                            <label>
                                Adres : İstanbul Üniversitesi Avcılar Kampüsü Teknokent Argem Binası No:110
                            </label><br />
                            <label>
                                Adisyon Tutarı : 35.90
                            </label><br />
                            <fieldset>
                                <legend>
                                    Sipariş İçeriği
                                </legend>
                                <label>
                                    Test Pizza
                                </label><br />
                                <label>
                                    Pepsi
                                </label>
                            </fieldset>
                            <div>
                                <button class="btn btn-primary pull-right" ng-click="driverSelectPopup()">Sürücü Seç</button>
                                <button class="btn btn-primary pull-left disabled" ng-click="driverBackPopup()">Dönüş İşle</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">G-10<input type="checkbox" class="pull-right" /></h5>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <label>
                                Giriş Saati : 15:20
                            </label><br />
                            <label>
                                Çıkış Süresi : 00:25:00
                            </label><br />
                            <label>
                                Çıkış Saati : 15:45
                            </label><br />
                            <label>
                                Adres : İstanbul Üniversitesi
                            </label><br />
                            <label>
                                Adisyon Tutarı : 20.90
                            </label><br />
                            <fieldset>
                                <legend>
                                    Sipariş İçeriği
                                </legend>
                                <label>
                                    Test Pizza 2
                                </label><br />
                                <label>
                                    Pepsi Light
                                </label>
                            </fieldset>
                            <div>
                                <button class="btn btn-primary pull-right disabled" ng-click="driverSelectPopup()">Gönderim</button>
                                <button class="btn btn-primary pull-left" ng-click="driverBackPopup()">Dönüş İşle</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">G-11<input type="checkbox" class="pull-right" /></h5>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <label>
                                Giriş Saati :
                            </label><br />
                            <label>
                                Çıkış Süresi :
                            </label><br />
                            <label>
                                Çıkış Saati :
                            </label><br />
                            <label>
                                Adres :
                            </label><br />
                            <label>
                                Adisyon Tutarı :
                            </label><br />
                            <fieldset>
                                <legend>
                                    Sipariş İçeriği
                                </legend>
                                <label>
                                    Test Pizza 2
                                </label><br />
                                <label>
                                    İçecek
                                </label>
                            </fieldset>
                            <div>
                                <button class="btn btn-primary pull-right" ng-click="driverSelectPopup()">Gönderim</button>
                                <button class="btn btn-primary pull-left disabled" ng-click="driverBackPopup()">Dönüş İşle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row col-lg-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">Motorcular</h5>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div>
                                <label class="text-large">
                                    Name 1
                                </label><input type="checkbox" class="pull-right" /><br />
                                <label class="margin-left-10">
                                    Adisyon No :
                                </label>
                                <label class="margin-left-30">
                                    Araç :
                                </label>
                                <br />
                            </div>
                            <div>
                                <label class="text-large">
                                    Name 2
                                </label><input type="checkbox" class="pull-right" /><br />
                                <label class="margin-left-10">
                                    Adisyon No :
                                </label>
                                <label class="margin-left-30">
                                    Araç :
                                </label>
                                <br />
                            </div>
                            <div>
                                <label class="text-large">
                                    Name 3
                                </label><input type="checkbox" class="pull-right" /><br />
                                <label class="margin-left-10">
                                    Adisyon No :
                                </label>
                                <label class="margin-left-30">
                                    Araç :
                                </label>
                                <br />
                            </div>
                            <div>
                                <label class="text-large">
                                    Name 4
                                </label><input type="checkbox" class="pull-right" /><br />
                                <label class="margin-left-10">
                                    Adisyon No :
                                </label>
                                <label class="margin-left-30">
                                    Araç :
                                </label>
                                <br />
                            </div>
                            <div>
                                <label class="text-large">
                                    Name 5
                                </label><input type="checkbox" class="pull-right" /><br />
                                <label class="margin-left-10">
                                    Adisyon No :
                                </label>
                                <label class="margin-left-30">
                                    Araç :
                                </label>
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="row col-lg-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">Dönüş İşle</h5>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                                <label class="col-lg-2">
                                    Araç : 34 ABC 90
                                </label>
                                <label class="col-lg-2">
                                    No : 2
                                </label>
                                <label class="col-lg-2">
                                    Paketçi : Ali
                                </label>
                                <label class="col-lg-2">
                                    Çıkış Saati : 14:22
                                </label>
                                <label class="col-lg-2">
                                    Dönüş Saati : 15:00
                                </label>
                                <label class="col-lg-2">
                                   Gidilen Bölge:
                                </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->


    </div>
