<div class="panel-body">
    <div class="col-md-12 center">
        <fieldset>
        <legend>
            Dönüş İşle
        </legend>
            <table class="table table-hover" id="sample-table-1">
                <thead>
                    <tr>
                        <th>Araç</th>
                        <th>No</th>
                        <th>Paketçi</th>
                        <th>Çıkış Saati</th>
                        <th>Dönüş Saati</th>
                        <th>Gidilen Bölge</th>
                        <th>Teslim Durumu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 34 ABC 90 </td>
                        <td>2</td>
                        <td>Ali Yılmaz</td>
                        <td>14:22 </td>
                        <td>15:00  </td>
                        <td>12 </td>
                        <td>
                            <select>
                                <option value="">Durum Seçiniz !</option>
                                <option value="">Teslim edildi.</option>
                                <option value="">İptal.</option>
                            </select>
                        </td>
                    </tr>
            </table>
            </fieldset>
        </div>
    </div>
<div class="panel center">
    <button class="btn btn-o btn-success ti-check" ng-click="ok()"></button> -
    <button class="btn btn-o btn-danger ti-close" ng-click="cancel()"></button>
</div>





