<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-orange">
    
</div>
    <hr />-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <fieldset>
        <h3 class="center text-red"> Dikkat !</h3>
        <p class="text-bold text-dark center">Siparişi Kaydetmeden Çıkmak İstediğinize Emin Misiniz ? </p>
    </fieldset>
</div>
<hr />
    <div class="panel center">
        <button class="btn btn-o btn-success ti-check text-bold" ng-click="ok()"> Evet</button> -
        <button class="btn btn-o btn-danger ti-close text-bold" ng-click="cancel()"> Hayır</button>
    </div>
