<style type="text/css">
    /*-----------------------------------------------------------*/
    /*Butonların altındaki resim için*/
    img {
        width: 100%;
        height: auto;
    }
    /*-----------------------------------------------------------*/
    /*options toggle ve options ayarları*/

    .hideContentHeader {
        display: block;
        color: #fff;
        padding: 1%;
        /*      PH      */
        background-color: #b30000;
        /*      LC    */
        /*background-color: #FF6600;*/
        height: 40px;
    }

    .ng {
    }

        .ng:hover {
            cursor: pointer;
            background-color: transparent;
        }
    /*.hideContentHeader.active {
               color: #fff;
               background: #FF9900;
           }*/

    h4.hideContentHeader:hover {
        cursor: pointer;
    }

    .hideContent {
        display: inline-block;
        /*display:none;*/
        padding: 1px;
    }

    .hidedContent {
        display: inline-block;
        padding: 1px;
        display:none;
    }
    
    .hideContentMaterial {
        display: none;
        padding: 1px;
    }

    .indicator {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

        .indicator.rotate {
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

    /*-----------------------------------------------------------*/
    /*resim ve resim animasyonu*/
    .viewcheck {
        float: left;
        max-width: 100px;
        max-height: 100px;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 10px 10px 20px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
    }

        .viewcheck .mask, .viewcheck .content {
            width: 80px;
            height: 40px;
            position: absolute;
            overflow: hidden;
            top: 0;
        }

    .view {
        float: left;
        max-width: 250px;
        max-height: 200px;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 10px 10px 20px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
    }

        .view .mask, .view .content {
            width: 250px;
            height: 150px;
            position: absolute;
            overflow: hidden;
            top: 0;
        }

        .view img {
            display: block;
            position: static;
        }

        .view h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0, 0, 0, 0.8);
        }

        .view p {
            font-family: Georgia, serif;
            font-style: italic;
            font-size: 12px;
            position: relative;
            color: #fff;
            padding: 10px 20px 20px;
            text-align: center;
        }

        .view a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            -webkit-box-shadow: 0 0 1px #000;
            -moz-box-shadow: 0 0 1px #000;
            box-shadow: 0 0 1px #000;
        }

            .view a.info:hover {
                -webkit-box-shadow: 0 0 5px #000;
                -moz-box-shadow: 0 0 5px #000;
                box-shadow: 0 0 5px #000;
            }

    .view-second img {
        transition: all 0.2s ease-in;
    }

    .view-second .mask {
        background-color: rgba(115,146,184, 0.7);
        width: 50px;
        padding: 60px;
        height: 50px;
        opacity: 0;
        transform: translate(265px, 145px) rotate(45deg);
        transition: all 0.2s ease-in-out;
    }

    .view-second h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
        margin: 20px 40px 0px 40px;
        transform: translate(200px, -200px);
        transition: all 0.2s ease-in-out;
    }

    .view-second p {
        transform: translate(-200px, 200px);
        transition: all 0.2s ease-in-out;
    }

    .view-second a.info {
        transform: translate(0px, 100px);
        transition: all 0.2s 0.1s ease-in-out;
    }

    .view-second:hover .mask {
        opacity: 1;
        transform: translate(-80px, -125px) rotate(45deg);
    }

    .view-second:hover h2 {
        transform: translate(0px,0px);
        transition-delay: 0.3s;
    }

    .view-second:hover p {
        transform: translate(0px,0px);
        transition-delay: 0.4s;
    }

    .view-second:hover a.info {
        transform: translate(0px,0px);
        transition-delay: 0.5s;
    }

    /*-----------------------------------------------------------*/

    #orderselect {
        float: right;
        width: 227px;
        margin-top: 0px;
    }
    /*-----------------------------------------------------------*/


    .message_ticker {
        overflow: hidden;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }

        .message_ticker:hover {
            -webkit-transition: 3s ease-in;
            -moz-transition: 3s ease-in;
            -o-transition: 3s ease-in;
            transition: 3s ease-in;
            text-indent: -100px;
            cursor: pointer;
        }
    /*-----------------------------------------------------------*/

    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }

    #div2 {
        overflow: hidden;
    }

    /*#txshdw{
           text-shadow:0px 1px 0px #333333;
       }*/


    /*-----------------------------------------------------------*/

    .strike {
        text-decoration: line-through;
    }

    .underline {
        text-decoration: underline;
    }
    /*-----------------------------------------------------------*/

    /*
    *  STYLE 6
    */

    #style-6::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        /*background-color: #FF8C00;*/
    }

    #style-6::-webkit-scrollbar {
        width: 15px;
        background-color: #F5F5F5;
        /*background-color: #FF8C00;*/
    }

    #style-6::-webkit-scrollbar-thumb {
        background-color: #D3D3D3;
        background-image: -webkit-linear-gradient(45deg, #DCDCDC 25%, transparent 25%, transparent 50%, #DCDCDC 50%, #DCDCDC 75%, transparent 75%, transparent);
    }
    /*-----------------------------------------------------------*/

    /*[class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }*/


</style>
<div ng-controller="orderCtrl as or" ng-init="app.layout.isSidebarClosed=true">
    <div>
        <div class="row col-lg-9 col-md-9 col-sm-8 col-xs-12 ">
            <div class="col-lg-12 panel panel-white scrollbar" id="style-6" style="overflow:auto;" ct-fullheight="window" data-ct-fullheight-exclusion="header">
                <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                    <button type="button" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 btn btn-light-orange margin-top-5 radius-5 text-uppercase" ng-if="user.UserRole.MemberID== 106851154380" style="width:150px; height:60px; text-align:center; margin-right:3px;" bindonce='cat' ng-repeat="cat in Categories track by cat.id" ng-click="CategoryClick(cat.id)">{{:: cat.name}}</button>
                    <button type="button" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 btn btn-red margin-top-5 radius-5 text-uppercase" ng-if="user.UserRole.MemberID != 106851154380" style="width:150px; height:60px; text-align:center; margin-right:3px;" bindonce='cat' ng-repeat="cat in Categories track by cat.id" ng-click="CategoryClick(cat.id)">{{:: cat.name}}</button>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="orderables" ng-if="user.UserRole.MemberID == 106851154380">
                        <orderable item='104955634723' order="{{OrderID}}" class='col-lg-12 col-md-12 col-sm-12 col-xs-12'></orderable>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="orderables" ng-if="user.UserRole.MemberID == 300000000000">
                        <orderable item='300000011286' order="{{OrderID}}" class='col-lg-12 col-md-12 col-sm-12 col-xs-12'></orderable>
                    </div>
                    <a id="bottom"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 panel panel-white scrollbar visible-lg" id="style-6" style="overflow:auto;" ct-fullheight="window" data-ct-fullheight-exclusion="header">
            <tabset class="tabbable col-lg-12 panel panel-white">
                <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10">
                    <tab-heading>{{:: ordercontent}}</tab-heading>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<input id="OrderNumber" type="text" min="0" class="col-md-6 col-sm-6 col-xs-12" ng-model="_order.OrderNumber" ng-hide="_order.OrderTypeID==1">-->
                            <span>
                                <button type="button" ng-click="ChangeOrderState(_order)" class="btn btn-danger ti-close pull-right tooltips text-uppercase" tooltip="{{:: rejectorder}}" tooltip-placement="left"></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <div id="personbuttons row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="pull-left text-uppercase ng tooltips" tooltip="{{:: 'main.LASTORDER' | translate}}" tooltip-placement="top" ng-click="orderInfo()">{{ (_order.persons|filter:{id:CurrentPersonID})[0].Person||"(Unnamed)"}}<br /></span>
                            </div> <br />
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER' && user.UserRole.Name != 'STORE' && user.UserRole.Name != 'STORETEST'">
                                <button class='btn btn btn-primary ti-plus pull-right' addpersonbutton></button>
                                <button bindonce='person' ng-repeat="person in _order.persons | orderBy:'+PersonIndex' track by person.id" class='btn btn-o btn-primary pull-left' bo-class="{'active':person.id==CurrentPersonID}" ng-click="SetCurrentPerson(person.id)" ng-dblclick="selectPerson()" ng-if="_order.persons.length>1">{{person.PersonIndex}}</button>
                            </div>-->
                        </div>
                        <br />
                        <div class="panel col-lg-12 col-xs-12 col-md-12 col-sm-12 scrollbar" id="style-6" style="overflow:auto; min-height:200px;">
                            <div><span bindonce='member' ng-repeat='member in orderItems | orderBy:"+SplitIndex" track by member.id'><order-item member='member' persons='_order.persons' splits='_order.splits'></order-item></span></div>
                        </div>
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER' && user.UserRole.Name != 'STORE' && user.UserRole.Name != 'STORETEST'">
                            <button class='btn btn btn-success ti-plus pull-right' addsplitbutton></button>
                            <button bindonce='split' ng-repeat="split in _order.splits | orderBy:'+SplitIndex' track by split.id" class='btn btn-o btn-success' bo-class="{'active':split.id==CurrentSplitID}" ng-click="SetCurrentSplit(split.id)" ng-if="_order.splits.length>1">{{split.SplitIndex}}</button>
                        </div>-->
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="text-large text-bold pull-right" style="color:black;"> <span>{{:: grand}} </span><span> {{_order.Amount | number : 2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}</span></span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-5">
                                <button ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER'" ng-click="OrderPaymentDeteails(_order)" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 btn btn-primary btn-o btn-lg fa fa-credit-card tooltips" tooltip="Ödeme" tooltip-placement="left"></button>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-5">
                                <button ng-click="SelectPromotions(_order)" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 btn btn-o btn-primary btn-lg fa fa-minus-square pull-right tooltips" tooltip="İndirim" tooltip-placement="left" ng-show="user.store.MemberID != 300000000005"></button>
                            </div>-->

                            <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-5">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" ng-show="!OrderInvoice">
                                    <input class="col-lg-3 col-md-3 col-sm-4 col-xs-4" type="checkbox" style="width:30px; height:30px;" ng-click="CreateOrderInvoice()">
                                    <label class="col-lg-9 col-md-9 col-sm-8 col-xs-8 margin-top-10 text-bold">E-Fatura İstiyorum.</label>
                                </div>
                            </div>-->

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-5">
                                <button ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER'" ng-click="OrderPaymentDeteails(_order)" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 btn btn-primary btn-o btn-lg fa fa-credit-card tooltips" tooltip="Ödeme" tooltip-placement="right"></button>
                                <button ng-click="SelectPromotions(_order)" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 btn btn-o btn-primary btn-lg fa fa-minus-square pull-right tooltips" tooltip="İndirim" tooltip-placement="left" ng-show="user.store.MemberID != 300000000005"></button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pull-right">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 margin-top-5">
                                <label translate="main.PAYMENTNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                                    Payment Note
                                </label><br />
                                <select style='min-width:140px; max-width:140px;' ng-options="q.Note as q.Note for q in predefinedpaymentnote | orderBy:'+Note'" ng-model="predefinedPaymentNote" ng-change="selectedNote('paymentNote', predefinedPaymentNote)">
                                    <option value=''></option>
                                </select>
                                <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:140px; max-width:140px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.PaymentNote" required></textarea>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 margin-top-5">
                                <label translate="main.ORDERSNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                                    Order Note
                                </label><br />
                                <select style='min-width:140px; max-width:140px;' ng-options="q.Note as q.Note for q in predefinedordernote | orderBy:'+Note'" ng-model="predefinedOrderNote" ng-change="selectedNote('orderNote', predefinedOrderNote)">
                                    <option value=''></option>
                                </select>
                                <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:140px; max-width:140px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.OrderNote" required></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" bindonce='proitem' ng-repeat="proitem in Promotion track by proitem.id ">
                                    <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10 text-bold text-extra-large text-uppercase' ng-class="{'strike': _order.Amount < proitem.Promotion.PromotionRequirementParameter , 'text-danger': _order.Amount < proitem.Promotion.PromotionRequirementParameter}"><strong>* {{:: proitem.Promotion.name}}</strong></label>
                                    <label class='col-lg-2 col-md-2 col-sm-2 col-xs-2 ng pull-right text-extra-large'>
                                        <i ng-click="RemovePromotion(_order.id)" class='ti-close text-extra-large'></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 inline margin-top-5">
                        <span ng-repeat="paymentitem in paymenttypes |orderBy:'+PaymentType.OrderIndex'">
                            <button class="btn btn-default btn-o margin-bottom-5" style="color:black; overflow:hidden; width:85px; height:50px;" ng-click="SaveOrder(paymentitem)" ng-dblclick="BottonDblcilik()">{{paymentitem.Description || paymentitem.PaymentType.name}}</button>
                        </span>
                    </div>
                </tab>

                <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10">
                    <tab-heading>{{:: addressinformation}}</tab-heading>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="min-height:590px;">
                        <form role="form">
                            <div class="form-group col-lg-12 col-md-12 ">
                                <label for="PersonID">
                                    {{:: person}}
                                </label>
                                <input id="PersonID" type="text" autocomplete="off" class="form-control text-uppercase" ng-model="_order.persons[0].Person" placeholder="" required readonly>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 ">
                                <label for="OrderNumber">
                                    {{:: ordernumber}}
                                </label>
                                <input id="OrderNumber" type="text" min="0" class="form-control" ng-model="_order.OrderNumber" readonly>
                            </div>
                            <div class="col-lg-6 col-md-6" ng-show="_order.OrderTypeID==2 || _order.OrderTypeID==7" style="white-space: nowrap; overflow:hidden; text-overflow:clip;">
                                <label for="ServiceTime">
                                    {{:: servicetim}}
                                </label><br />
                                <input id="ServiceTime" type="text" class="form-control" ng-model="StoreData.ServiceTime" readonly>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="_order.OrderTypeID==0">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <label for="OrderNote">
                                        {{:: orderdate}}
                                    </label>
                                    <input id="OrderDate" type="text" class="form-control" ng-model="_order.OrderDate" readonly ng-click="datepopup(_order.OrderDate)" required>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <label for="OrderNote" ng-if="isVisibleDeliverDate==true">
                                        {{:: deliverydate}}
                                    </label>
                                    <input id="DeliveryDate" type="text" class="form-control" ng-model="_order.DeliveryDate" ng-if="isVisibleDeliverDate==true" readonly>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="Notes">
                                    {{:: address}}
                                </label>
                                <textarea id="AdressID" type="text" style='min-height:90px; max-width:250px; max-height:150px;' class="form-control text-uppercase" ng-model="FormatedAddress" ng-dblclick="PersonAddressEdit(_order.AddressID)" readonly></textarea>
                            </div>
                        </form>
                    </div>
                </tab>
                <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10" ng-if="OrderSourceYS == true">
                    <tab-heading>{{:: yemeksepetiorderdetail}}</tab-heading>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <span ng-repeat="member in YemekSepetiRawOrder.YemekSepetiOrder.YemekSepetiRawOrder.YemekSepetiRawOrderDetails">
                            <label class='ti-shopping-cart-full text text-dark text-bold text-large'>
                                {{member.Quantity}} X {{member.Name}} <br />
                                <span class="margin-top-5 margin-left-10" ng-repeat="membermember in member.YemekSepetiRawOrderItemOptions">
                                    <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                        {{membermember.Name}}
                                    </label>
                                    <br />
                                </span>
                                <span class="margin-top-5 margin-left-5" ng-repeat="items in member.YemekSepetiRawOrderDetails">
                                    <label class='ti-arrow-circle-right margin-top-5 text-large text-bold'>
                                        {{items.Quantity}} X  {{items.Name}} <br />
                                        <span class="margin-top-5 margin-left-10" ng-repeat="itemitem in items.YemekSepetiRawOrderDetails">
                                            <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                                {{itemitem.Name}}
                                            </label>
                                            <br />
                                        </span>
                                        <span class="margin-top-5 margin-left-10" ng-repeat="itemitem in items.YemekSepetiRawOrderItemOptions">
                                            <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                                {{itemitem.Name}}
                                            </label>
                                            <br />
                                        </span>
                                    </label>
                                    <br />
                                </span>
                            </label>
                        </span>
                    </div>
                </tab>
                <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10" ng-if="OrderInvoice">
                    <tab-heading>E-Fatura</tab-heading>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel" ng-click="LoadOrCreateOrderInvoice(true)" style="width:100%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.INVOICEID' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.id" readonly>
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.COMPANYTITLE' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.Title">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.PHONENUMBER' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.PhoneNumber">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.ADDRESS' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.Address">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.EMAIL' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.Email">
                            </span>
                        </div>
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.ORDERID' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.OrderID" readonly>
                            </span>
                        </div>-->
                        <div class="ccol-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.TAXNUMBER' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.TaxNumber">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {{'main.TAXOFFICE' | translate}} :
                            </span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" name="id" ng-model="OrderInvoice.TaxOffice">
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                            <button translate="main.SAVE" class="btn btn-primary pull-right" ng-click="SaveOrderInvoice()"></button>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 panel panel-white scrollbar visible-md visible-sm visible-xs" ct-fullheight="window" data-ct-fullheight-exclusion="header" id="style-6" style="overflow:auto;">
        <tabset class="tabbable col-lg-12 panel panel-white">
            <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10">
                <tab-heading>{{:: ordercontent}}</tab-heading>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-10">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                        <span>
                            <button type="button" ng-click="ChangeOrderState(_order)" class="btn btn-danger ti-close pull-right tooltips text-uppercase" tooltip="{{:: rejectorder}}" tooltip-placement="left"></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <div id="personbuttons row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="pull-left text-uppercase ng tooltips" tooltip="{{:: 'main.LASTORDER' | translate}}" tooltip-placement="top" ng-click="orderInfo()">{{ (_order.persons|filter:{id:CurrentPersonID})[0].Person||"(Unnamed)"}}<br /></span>
                        </div> <br />
                    </div>
                    <br />
                    <div class="panel col-lg-12 col-xs-12 col-md-12 col-sm-12 scrollbar" id="style-6" style="overflow:auto; min-height:200px;">
                        <div><span bindonce='member' ng-repeat='member in orderItems | orderBy:"+SplitIndex" track by member.id'><order-item member='member' persons='_order.persons' splits='_order.splits'></order-item></span></div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-10">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-large text-bold pull-right" style="color:black;"> <span>{{:: grand}} </span><span> {{_order.Amount | number : 2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}</span></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right margin-top-5">
                        <button ng-click="SelectPromotions(_order)" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 btn btn-o btn-primary btn-lg fa fa-minus-square pull-right tooltips" tooltip="İndirim" tooltip-placement="left"></button>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" bindonce='proitem' ng-repeat="proitem in Promotion track by proitem.id ">
                        <label class='col-lg-10 col-md-10 col-sm-10 col-xs-10 text-bold text-extra-large text-uppercase' ng-class="{'strike': _order.Amount < proitem.Promotion.PromotionRequirementParameter , 'text-danger': _order.Amount < proitem.Promotion.PromotionRequirementParameter}"><strong>* {{:: proitem.Promotion.name}}</strong></label>
                        <label class='col-lg-2 col-md-2 col-sm-2 col-xs-2 ng pull-right text-extra-large'>
                            <i ng-click="RemovePromotion(_order.id)" class='ti-close text-extra-large'></i>
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 visible-lg visible-md">
                    <label translate="main.ORDERSNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                        Order Note
                    </label><br />
                    <select style='min-width:140px; max-width:140px;' ng-options="q.Note as q.Note for q in predefinedordernote | orderBy:'+Note'" ng-model="predefinedOrderNote" ng-change="selectedNote('orderNote', predefinedOrderNote)">
                        <option value=''></option>
                    </select>
                    <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:140px; max-width:140px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.OrderNote" required></textarea>
                </div>
                <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                    <label translate="main.ORDERSNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                        Order Note
                    </label><br />
                    <select style='min-width:180px; max-width:180px;' ng-options="q.Note as q.Note for q in predefinedordernote | orderBy:'+Note'" ng-model="predefinedOrderNote" ng-change="selectedNote('orderNote', predefinedOrderNote)">
                        <option value=''></option>
                    </select>
                    <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:180px; max-width:180px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.OrderNote" required></textarea>
                </div>
            </tab>
            <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10">
                <tab-heading>Ödeme Bilgileri</tab-heading>
                <div class="col-lg-12 col-md-12 margin-top-20 visible-lg visible-md">
                    <span class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label translate="main.PAYMENTNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                            Payment Note
                        </label>
                        <select style='min-width:140px; max-width:140px;' ng-options="q.Note as q.Note for q in predefinedpaymentnote | orderBy:'+Note'" ng-model="predefinedPaymentNote" ng-change="selectedNote('paymentNote', predefinedPaymentNote)">
                            <option value=''></option>
                        </select>
                        <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:140px; max-width:140px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.PaymentNote" required></textarea>
                    </span>
                    <span class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right margin-top-5">
                        <button ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER'" ng-click="OrderPaymentDeteails(_order)" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 btn btn-primary btn-o btn-lg fa fa-credit-card pull-right tooltips" tooltip="Ödeme" tooltip-placement="left"></button>
                    </span>
                </div>
                <div class="col-sm-12 col-xs-12 margin-top-20 visible-sm visible-xs">
                    <span class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label translate="main.PAYMENTNOTE" for="PaymentNote" class="text-bold" style="color:black;">
                            Payment Note
                        </label>
                        <select style='min-width:180px; max-width:180px;' ng-options="q.Note as q.Note for q in predefinedpaymentnote | orderBy:'+Note'" ng-model="predefinedPaymentNote" ng-change="selectedNote('paymentNote', predefinedPaymentNote)">
                            <option value=''></option>
                        </select>
                        <textarea id="PaymentNote" type="text" style='min-height:70px; min-width:180px; max-width:180px; max-height:70px;' class="form-control text-uppercase" ng-model="_order.PaymentNote" required></textarea>
                    </span>
                    <span class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right margin-top-5">
                        <button ng-if="user.UserRole.Name != 'CALLCENTER' && user.UserRole.Name != 'CCMANAGER'" ng-click="OrderPaymentDeteails(_order)" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 btn btn-primary btn-o btn-lg fa fa-credit-card pull-right tooltips" tooltip="Ödeme" tooltip-placement="left"></button>
                    </span>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 inline margin-top-5">
                    <span ng-repeat="paymentitem in paymenttypes |orderBy:'+PaymentType.OrderIndex'">
                        <button class="btn btn-default btn-o margin-bottom-5" style="color:black; overflow:hidden; width:85px; height:50px;" ng-click="SaveOrder(paymentitem)" ng-dblclick="BottonDblcilik()">{{paymentitem.PaymentType.name}}</button>
                    </span>
                </div>
            </tab>
            <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10">
                <tab-heading>{{:: addressinformation}}</tab-heading>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20" style="min-height:590px;">
                    <form role="form">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="PersonID">
                                {{:: person}}
                            </label>
                            <input id="PersonID" type="text" autocomplete="off" class="form-control text-uppercase" ng-model="_order.persons[0].Person" placeholder="" required readonly>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="OrderNumber">
                                {{:: ordernumber}}
                            </label>
                            <input id="OrderNumber" type="text" min="0" class="form-control" ng-model="_order.OrderNumber" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="_order.OrderTypeID==0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="OrderNote">
                                    {{:: orderdate}}
                                </label>
                                <input id="OrderDate" type="text" class="form-control" ng-model="_order.OrderDate" readonly ng-click="datepopup(_order.OrderDate)" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="OrderNote" ng-if="isVisibleDeliverDate==true">
                                    {{:: deliverydate}}
                                </label>
                                <input id="DeliveryDate" type="text" class="form-control" ng-model="_order.DeliveryDate" ng-if="isVisibleDeliverDate==true" readonly>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 visible-lg visible-md">
                            <label for="Notes">
                                {{:: address}}
                            </label>
                            <textarea id="AdressID" type="text" style='min-height:90px; max-width:250px; max-height:150px;' class="form-control text-uppercase" ng-model="FormatedAddress" ng-dblclick="PersonAddressEdit(_order.AddressID)" readonly></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-xs-12 visible-sm visible-xs">
                            <label for="Notes">
                                {{:: address}}
                            </label>
                            <textarea id="AdressID" type="text" style='min-height:90px; max-width:300px; max-height:150px;' class="form-control text-uppercase" ng-model="FormatedAddress" ng-dblclick="PersonAddressEdit(_order.AddressID)" readonly></textarea>
                        </div>
                    </form>
                </div>
            </tab>
            <tab class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top-10" ng-if="OrderSourceYS == true">
                <tab-heading>{{:: yemeksepetiorderdetail}}</tab-heading>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                    <span ng-repeat="member in YemekSepetiRawOrder.YemekSepetiOrder.YemekSepetiRawOrder.YemekSepetiRawOrderDetails">
                        <label class='ti-shopping-cart-full text text-dark text-bold text-large'>
                            {{member.Quantity}} X {{member.Name}} <br />
                            <span class="margin-top-5 margin-left-10" ng-repeat="membermember in member.YemekSepetiRawOrderItemOptions">
                                <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                    {{membermember.Name}}
                                </label>
                                <br />
                            </span>
                            <span class="margin-top-5 margin-left-5" ng-repeat="items in member.YemekSepetiRawOrderDetails">
                                <label class='ti-arrow-circle-right margin-top-5 text-large text-bold'>
                                    {{items.Quantity}} X  {{items.Name}} <br />
                                    <span class="margin-top-5 margin-left-10" ng-repeat="itemitem in items.YemekSepetiRawOrderDetails">
                                        <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                            {{itemitem.Name}}
                                        </label>
                                        <br />
                                    </span>
                                    <span class="margin-top-5 margin-left-10" ng-repeat="itemitem in items.YemekSepetiRawOrderItemOptions">
                                        <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                            {{itemitem.Name}}
                                        </label>
                                        <br />
                                    </span>
                                </label>
                                <br />
                            </span>
                        </label>
                    </span>
                </div>
            </tab>
        </tabset>
    </div>
</div>
