<!--<style>
    [class*="col-"] {
        background-color: #eee;
        background-color: rgba(84,41,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(84,41,124,.2);
    }
</style>-->
<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size: 11px;

}

tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<div ng-controller="orderdetailsCtrl" class="panel-white col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
            <span class="text-blue">{{Date}}</span><br />
            <!--<span class="text-bold text-large" ng-if="item.orderInvoice.id">{{::efatura}} ID : {{:: item.orderInvoice.id}}</span>-->
        </div>
        <h3>
            <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-bold margin-top-15 center">{{:: orderdetails}}</span>
        </h3>
        <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left pull-right col-lg-1 col-md-2 col-sm-2 col-xs-2 visible-lg"
            ng-click="Back()">
            <span>{{:: back}}</span>
        </a>
        <div class="col-md-1 margin-top-5 pull-right visible-md visible-sm visible-xs">
            <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 row pull-right visible-lg visible-md" ng-if="ButtonPanel == true" style="
    top: 22px; font-size: 13px;">
        <button class="btn btn-wide btn-success margin-top-5" ng-click="SendToFiyuu(item.id)"
            ng-if="userRestrictions.sendtofiyuu=='Enable'" style="border-radius: 20px; font-size: 12px">
            <span>{{:: sendtofiyuu }}</span>
        </button>
        <button class="btn btn-wide btn-success margin-top-5" ng-click="SendGiftPromotions(item.id)"
            ng-if="userRestrictions.sendgiftpromotions=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: sendgifpromotions }}</span>
        </button>
        <button class="btn btn-wide btn-primary margin-top-5" ng-click="DeleteYSMaping(item.id)"
            ng-if="userRestrictions.deleteysmaping=='Enable' && (item.OrderSource == 'YemekSepeti' ||item.OrderSource == 'Getir')"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: deleteysmaping}}</span>
        </button>
        <button class="btn btn-wide btn-warning margin-top-5"
            ng-if="(item.OrderTypeID==2 || item.OrderTypeID==7) && userRestrictions.repeatorder=='Enable'"
            ng-click="repeatOrder(item.id)" style="border-radius: 20px; font-size: 12px">
            <span class='fa fa-spin fa-spinner' ng-if='isSpinner == true'></span><span ng-if="isSpinner != true"> {{::
                repeatorder}}</span>
        </button>
        <button class="btn btn-wide btn-success margin-top-5" ng-click="OrderChange(item)"
            ng-if="userRestrictions.changeorder=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: changetoorder}}</span>
        </button>
        <button class="btn btn-wide btn-warning margin-top-5" ng-click="CheckCode(item,'CancelOrder')"
            ng-if="userRestrictions.cancelorder=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: canceltoorder}}</span>
        </button>
        <button class="btn btn-wide btn-primary margin-top-5" ng-click="SelectPromotions(item)"
            ng-if="userRestrictions.addpromotion=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: addpromotion}}</span>
        </button>
        <button class="btn btn-wide btn-success margin-top-5" ng-click="RePrintOrder(item.id)"
            ng-if="userRestrictions.reprintorder=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: reprint}}</span>
        </button>
        <button class="btn btn-wide btn-warning margin-top-5" ng-click="CheckCode(item,'OrderPaymentDeteails')"
            ng-if="userRestrictions.changeorderpayment=='Enable'" style="border-radius: 20px; font-size: 12px">
            <span>{{:: changetopaymenttype}}</span>
        </button>
        <div ng-if="item.OrderStateID==20">
            <button class="btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="AwaitingCCAutorization(item)"
                ng-if="userRestrictions.webacceptbutton=='Enable'"  style="border-radius: 20px; font-size: 12px">
                <span>{{:: acceptorder}}</span>
            </button>
        </div>
        <div class="pull-right" ng-if="item.OrderStateID==6">
            <button class="btn btn-wide btn-primary margin-top-5 margin-left-5" ng-click="RevertToPrevState(item.id)"
                ng-if="userRestrictions.reverttoprevstate=='Enable'"  style="border-radius: 20px; font-size: 12px">
                <span>{{:: reverttoprevstate}} !</span>
            </button>
        </div>
    </div>

    <div class="row pull-right visible-sm visible-xs" ng-if="ButtonPanel == true" >
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-primary margin-top-5" ng-click="DeleteYSMaping(item.id)"
            ng-if="userRestrictions.deleteysmaping=='Enable' && item.OrderSource == 'YemekSepeti'">
            <span>{{:: deleteysmaping}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-warning margin-top-5"
            ng-if="item.OrderTypeID==2 || item.OrderTypeID==7 && user.restrictions.repeatorder=='Enable'"
            ng-click="repeatOrder(item.id)">
            <span class='fa fa-spin fa-spinner' ng-if='isSpinner == true'></span><span ng-if="isSpinner != true"> {{::
                repeatorder}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-success margin-top-5" ng-click="OrderChange(item)">
            <span>{{:: changetoorder}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-warning margin-top-5"
            ng-click="CheckCode(item,'CancelOrder')" ng-if="userRestrictions.cancelorder=='Enable'">
            <span>{{:: canceltoorder}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-primary margin-top-5" ng-click="SelectPromotions(item)"
            ng-if="userRestrictions.addpromotion=='Enable'">
            <span>{{:: addpromotion}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-success margin-top-5" ng-click="RePrintOrder(item.id)"
            ng-if="userRestrictions.reprintorder=='Enable'">
            <span>{{:: reprint}}</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-wide btn-warning margin-top-5"
            ng-click="CheckCode(item,'OrderPaymentDeteails')" ng-if="userRestrictions.changeorderpayment=='Enable'">
            <span>{{:: changetopaymenttype}}</span>
        </button>
        <div class="col-sm-12 col-xs-12" ng-if="item.OrderStateID==20">
            <button class="btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="AwaitingCCAutorization(item)"
                ng-if="userRestrictions.webacceptbutton=='Enable'">
                <span>{{:: acceptorder}}</span>
            </button>
        </div>
        <div class="col-sm-12 col-xs-12 pull-right" ng-if="item.OrderStateID==6">
            <button class="btn btn-wide btn-primary margin-top-5 margin-left-5" ng-click="RevertToPrevState(item.id)"
                ng-if="userRestrictions.reverttoprevstate=='Enable'">
                <span>{{:: reverttoprevstate}} !</span>
            </button>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 visible-lg visible-md" ng-if="ButtonPanel == true" style="top: 22px; font-size: 13px;">
        <button class="btn btn-o btn-danger margin-top-5" ng-click="UpdateOrderStateChoose(item)"
            ng-if="userRestrictions.chooseorderstate=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: chooseorderstate}} !</span>
        </button>
        <button class="btn btn-o btn-danger margin-top-5 margin-left-5"
            ng-click="UpdateOrderPaymentStatusChoose(item.id)" ng-if="userRestrictions.closeorderpayment=='Enable'"  style="border-radius: 20px;font-size: 12px">
            <span>{{:: closeorderpayment}} !</span>
        </button>
        <button class="btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="UpdateOrderStatusAdmin(item.id)"
            ng-if="userRestrictions.canceltoorder=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: canceltoorder}} !</span>
        </button>
        <button class="btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="UpdateCode()"
            ng-if="userRestrictions.updatecode=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: updatecode}} !</span>
        </button>
        <button class="btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="RefreshOrder(item.id)"
            ng-if="userRestrictions.refreshorderamount=='Enable'"  style="border-radius: 20px; font-size: 12px">
            <span>{{:: refreshorderamount}} !</span>
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs" ng-if="ButtonPanel == true">
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5" ng-click="UpdateOrderStateChoose(item)"
            ng-if="userRestrictions.chooseorderstate=='Enable'">
            <span>{{:: chooseorderstate}} !</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5" ng-click="SendToFiyuu(item.id)"
            ng-if="userRestrictions.sendordertofiyuu=='Enable'">
            <span>{{:: sendtofiyuu}} !</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5 margin-left-5"
            ng-click="UpdateOrderPaymentStatusChoose(item.id)" ng-if="userRestrictions.closeorderpayment=='Enable'">
            <span>{{:: closeorderpayment}} !</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5 margin-left-5"
            ng-click="UpdateOrderStatusAdmin(item.id)" ng-if="userRestrictions.canceltoorder=='Enable'">
            <span>{{:: canceltoorder}} !</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5 margin-left-5" ng-click="UpdateCode()"
            ng-if="userRestrictions.updatecode=='Enable'">
            <span>{{:: updatecode}} !</span>
        </button>
        <button class="col-sm-12 col-xs-12 btn btn-o btn-danger margin-top-5 margin-left-5"
            ng-click="RefreshOrder(item.id)" ng-if="userRestrictions.refreshorderamount=='Enable'">
            <span>{{:: refreshorderamount}} !</span>
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 row pull-left margin-top-15">
            <legend style="height: 34px; margin-top: 21px;">
                {{'main.ORDERINGINFORMATION' | translate}}
            </legend>
            <div class="row visible-lg">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>
                            {{:: orderno}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.id}}" id="form-field-21"
                            class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: ordernumber}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.OrderNumber}}  {{:: item.StoreTable.name}}"
                            id="form-field-21" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: ordertype}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.OrderType}}" id="form-field-21"
                            class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: ordersource}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.OrderSource}}" id="form-field-21"
                            class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: personname}}
                        </label>
                        <input type="text" placeholder="-" value="{{item.Alias}}{{item.persons[0].Person}}"
                            id="form-field-21" class="form-control text-uppercase" readonly>
                    </div>
                </div>

            </div>
            <div class="row visible-lg">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="no-wrap">
                            {{:: paymentstatus}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.PaymentStatus}}" id="form-field-21"
                            class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group" >
                        <label>
                            {{:: amount}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.Amount | number : 2}}" id="form-field-21"
                            class="form-control ti-align-right" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: orderstate}}
                        </label>
                        <input type="text" placeholder="-" value="{{item.OrderState}}" id="form-field-21"
                            class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: isChargedd}}
                        </label>
                        <input ng-if="item.OrderTypeID == 2 && item.isCharged == false"
                            ng-class="{'text-red': item.isCharged == false}" type="text" placeholder="-"
                            value="{{::open}}" id="form-field-21" class="form-control" readonly>
                        <input ng-if="item.OrderTypeID == 2 && item.isCharged == true" type="text" placeholder="-"
                            value="{{::close}}" id="form-field-21" class="form-control" readonly>
                        <input ng-if="item.OrderTypeID != 2 && item.OrderTypeID != 7" type="text" placeholder="-"
                            value="-" id="form-field-21" class="form-control" readonly>

                        <input ng-if="item.OrderTypeID == 7 && item.isCharged == false"
                            ng-class="{'text-red': item.isCharged == false}" type="text" placeholder="-"
                            value="{{::open}}" id="form-field-21" class="form-control" readonly>
                        <input ng-if="item.OrderTypeID == 7 && item.isCharged == true" type="text" placeholder="-"
                            value="{{::close}}" id="form-field-21" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: paymenttype}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.PaymentType.PaymentType.name}}"
                            id="form-field-21" class="form-control" readonly
                            ng-dblclick="CheckCode(item,'ChangeOrderPayment')">
                    </div>
                </div>
            </div>
            <div class="row visible-lg">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>
                            {{:: orderdate}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.OrderDate | date:'HH:mm:ss dd-MM-yyyy'}}"
                            id="form-field-21" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: deliverydate}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.DeliveryDate | date:'HH:mm:ss dd-MM-yyyy'}}"
                            id="form-field-21" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: agent}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: User}}" id="form-field-21" class="form-control"
                            readonly>
                    </div>
                </div>
                <div class="col-lg-2" style="float: left;margin: 0 10px;">
                    <div class="form-group">
                        <label>
                            {{:: companyname}}
                        </label>
                        <input type="text" placeholder="-" value="{{:: item.Address.CompanyName}}" id="form-field-21"
                            class="form-control text-uppercase" readonly>
                    </div>
                </div>
            </div>

            <div class="form-col">
                <div id="form-container">
                    <div id="form" dx-form="OrderOptions">
                    </div>
                </div>
                <div id="form-container" style="margin-top: -20px;">
                    <div id="form2" dx-form="OrderStateform">
                    </div>
                </div>
            </div>

            <div class="row visible-lg">
                <div class="dx-viewport demo-container"style="font-size: 14px;">
                    <div id="form-container">
                        <div id="form1" dx-form="OrderAddress" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row visible-lg">
                <div class="dx-viewport demo-container">
                    <div id="form-container">
                        <div id="orderperson" dx-form="Ordererson">
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <br>
    <div id="report" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-15 table-responsive"
        ng-hide="isWaiting==true" style="top: 38px;">
        <tabset justified="true" class="tabbable">
            <tab heading="{{'main.ORDERITEMDETAILS' | translate}}">
                <div class="panel-body">
                    <div id="gridContainerorder" dx-data-grid="dataGridOptionsorder">
                    </div>
                </div>
            </tab>
            <tab heading="{{'main.SATATES' | translate}}">
                <div class="panel-body">
                    <div id="gridContainerstate" dx-data-grid="dataGridOptionsstate">
                    </div>
                </div>
            </tab>
            <tab heading="{{'main.PROMOTIONS' | translate}}">
                <div class="panel-body">
                    <div id="gridContainerpromoti" dx-data-grid="dataGridOptionspromoti">
                    </div>
                </div>
            </tab>
            <tab heading="{{'main.PAYMENT' | translate}}">
                <div class="panel-body">
                    <div id="gridContainerpayment" dx-data-grid="dataGridOptionspayment">
                    </div>
                </div>
            </tab>
            <tab heading="{{'main.STOREDETAILS' | translate}}">
                <div class="panel-body">
                    <table>
                        <tr>
                          <th>{{:: store}}</th>
                          <th>{{:: storetype}}</th>
                          <th>{{:: storephone}}</th>
                          <th>{{:: servicestime}}</th>
                          <th>{{:: storenote}}</th>
                          
                        </tr>
                        <tr>
                          <td>{{:: StoreData.name}} / {{:: StoreData.Town}}</td>
                          <td>{{:: StoreData.StoreType}}</td>
                          <td>{{:: StoreData.phone}}</td>
                          <td>{{:: StoreData.ServiceTime}}</td>
                          <td>{{:: StoreData.notes}}</td>
                 
                        </tr>
                     
                      
                      </table>
                </div>
            </tab>
        </tabset>
    </div>
</div>
</div>
</div>