<!--<style>
    [class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>-->

<div class="panel-body" ng-controller="orderCtrl">
    <div>
        <h3 class="center"> <label class="text-bold">{{'main.PRODUCTOPERATIONS' | translate}}</label><button class="btn btn-red btn-sm ti-close pull-right" ng-click="cancel()"></button></h3>
    </div>
    <fieldset class="col-lg-12 panel-white">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="min-height:50px;">
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-10 margin-top-10"><label class="text-large margin-left-10" style="color:black;">{{'main.DELETEPRODUCT' | translate}}</label></span>
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
                <button class="btn btn-red btn-md ti-close pull-right" ng-click="ok('remove')"></button>
            </span>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="min-height:50px;">
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-10 margin-top-10"><label class="text-large margin-left-10" style="color:black;">{{'main.TREATPRODUCT' | translate}}</label></span>
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
                <button class="btn btn-success btn-md ti-plus pull-right" ng-click="ok('Treat')"></button>
            </span>
        </div>
    </fieldset>
</div>









