<!--<style>
        [class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>-->
<div class="panel-body panel-white">
    <div class="col-md-12 center">
        <h3 class="panel-title  text-primary"><span class="ng pull-left" translate="main.PREVIOUSORDERS">Order Details</span><button class="btn btn-o pull-right ti-close" ng-click="cancel()"></button></h3>
    </div>
    <div class="col-md-12 panel panel-white">
        <form role="form">
            <span class="text-bold" ng-bind-html='orders'></span>
        </form>
    </div>
</div>  