<style>
    .popover-content {
     height: 120px;
     width: 250px;
     overflow-y: scroll;
     overflow-x: scroll;
 }

            /*[class*="col-"] {
     background-color: #eee;
     background-color: rgba(86,61,124,.15);
     border: 1px solid #ddd;
     border: 1px solid rgba(86,61,124,.2);
 }*/
</style>
<div print-section ng-controller="staffpaymentsCtrl as sp">
 <div print-only class="visible-print hidden col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
         <span class="col-lg-12 text-bold pull-left">{{user.Store.Member}} - {{user.Store.name}}</span><br />
         <span class="col-lg-12 text-bold pull-left">{{user.FullName}} </span><br />
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
         <span class="text-bold text-dark" style="font-size:18px;" translate="tittle.STAFFPAYMENTS" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br />
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
         <span class="col-lg-12 pull-right">{{Time | date:'dd-MM-yyyy HH:mm'}} </span>
     </div>
 </div>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" print-remove>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
         <span class="mainTitle text-dark col-lg-8 col-md-8" style="font-size:25px;" translate="tittle.STAFFPAYMENTS" translate-values="{ appName: app.name }">{{ ::mainTitle }}</span>
         <div print-remove class="col-lg-2 col-md-2 margin-top-5 pull-right">
             <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left pull-right" ng-click="Back()">
                 <span translate="main.BACK">Back</span>
             </a>
         </div>
     </div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
         <span class="mainTitle text-dark col-sm-8 col-xs-8" style="font-size:15px;" translate="tittle.STAFFPAYMENTS" translate-values="{ appName: app.name }">{{ ::mainTitle }}</span>

         <div print-remove class="col-sm-2 col-xs-2 margin-top-5 pull-right">
             <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
         </div>
     </div>

 </div>
 <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="ShowObject==true">
     <!--<label class="text text-bold text-extra-large text-primary fa fa-spin fa-spinner"></label>
     <span class="center"> {{::trPLEASEWAIT}}</span>-->
     <span class="margin-bottom-10 visible-lg">
         <img src="assets/images/loader.gif" />
     </span>
     <span class="margin-bottom-10 visible-md visible-sm visible-xs">
         <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
     </span>
 </div>
 <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5" ng-hide=":refresh:ShowObject==true">
     <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold" translate="main.STAFFNAME" style="font-size: 14px;"></label>
     <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
         <select id="DriverID" class="form-control ng text-uppercase" ng-options="q.Driver.id as q.Driver.name for q in StaffPayments | orderBy:'+name'" ng-model="DriverID"></select>
     </span>
     <button class="btn btn-default glyphicon glyphicon-trash col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-click="DriverID = undefined" style="margin-left: 5px;"> </button>
     <button class="btn btn-default glyphicon glyphicon-refresh tooltips col-lg-1 col-md-1 col-sm-1 col-xs-1 " tooltip="Sayfayı Yenile!" ng-click="GetPayOff(true)"  style="margin-left: 5px;"> </button>
     <button ng-click="goOrderDriverListReport('app/reports/ordersreports/orderdriverlist')" class="btn btn-o btn-default text-uppercase text-large text-bold col-lg-3 col-md-3 col-sm-3 col-xs-3 visible-lg visible-md" style="margin-left: 5px;">
         <span>{{'main.GOORDERDRIVERLIST' |translate}}</span>
     </button>
     <button ng-if="user.UserRole.MemberID == '111679600561'" print-btn class="btn btn-default tooltips" style="margin-top:2px;" tooltip="{{'main.PRINT' | translate}}" tooltip-placement="bottom" ng-disabled="ObjectShow==true">
         <img ng-src="assets/images/print.png" style="width:2vw; height:2.2vh;" class="center" /><br />
         <span ng-if="ObjectShow==true" class="fa fa-spin fa-spinner"></span>
     </button>
 </div>
 <fieldset print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md" ng-repeat="item in StaffPayments | orderBy:'+Driver.name' | filter:DriverID track by item.Driver.id">
     <!--<legend translate="main.STAFFPAYMENTS"></legend>-->
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
         <span class="col-lg-1 col-md-2 col-sm-3 col-xs-4" style="color:black;">{{:: staffname}} <label class="pull-right" style="color:black;"> : </label></span>
         <span class="col-lg-9 col-md-7 col-sm-6 col-xs-4 text-bold text-uppercase" style="color:black;">&nbsp; {{:: item.Driver.name}}</span>
         <span class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
             <button class="text-bold btn btn-o btn-primary pull-right" ng-click="CloseAllAccounts(item.orders, item.Driver.name)" ng-disabled="isWaiting == true"><span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span ng-if="isWaiting != true"></span>{{:: closeallcount}}</button>
         </span>
     </div>
     <hr />
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" ng-hide="ShowObject==true">
         <span></span>
         <table class="col-lg-8 col-md-8 col-sm-7 col-xs-11 row" style="color:black;">
             <tr class="bg-grey" style="color:black;">
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: ordernumber}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: personname}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: paymenttype}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-1 col-xs-1">{{:: amount}}</th>
                 <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{:: address}}</th>
                 <th class="col-lg-1 col-md-1 col-sm-4 col-xs-4"></th>
             </tr>
             <tr ng-repeat="orders in item.orders| orderBy:'+OrderDate'">
                 <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-bold" ng-click="SelectItem(orders.id)">
                     {{:: orders.OrderNumber}}
                 </td>
                 <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-uppercase">
                     <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="person in :refresh:orders.persons track by person.id">
                         {{:: person.Person}} <br />
                     </span>
                 </td>
                 <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                     <span class="tooltips" tooltip="'{{:refresh:orders.PaymentType.PaymentType.name}}' Ödeme Tipini Değiştir !">
                         <button class="btn btn-o btn-warning fa fa-exchange pull-left" ng-click="UpdateOrderPaymentType(orders.id)"></button>
                     </span>
                     <span>{{:refresh:orders.PaymentType.PaymentType.name}}</span>
                 </td>
                 <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                     <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{:refresh:orders.Amount | number:2}} TL</span>
                 </td>
                 <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase">
                         <div class="pop-div">
                             <label class="margin-bottom-10" Popover-animation="true" popover="
                                 {{:: orders.Address.StreetAddress}}
                                 {{:: orders.Address.AppartmentName}} Apt.
                                 N: {{:: orders.Address.AddressNo}}
                                 D: {{:: orders.Address.AppartmentNo}}
                                 Kat: {{:: orders.Address.Floor}}
                                 Giriş: {{:: orders.Address.Entrance}}
                                 Tarif: {{:: orders.Address.Landmark}}"
                                    popover-title="{{'main.ADDRESS' | translate}}">
                                 <label class="ti-direction-alt margin-top-5" tooltip="Adres İçin Tıklayın.."></label>
                             </label>
                         </div>
                     </div>
                 </td>
                 <td class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                     <button class="btn btn-o btn-primary pull-right tooltips" ng-click="CloseAcount(orders,$index, item)" ng-disabled="isWaiting == true"> <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-check" ng-if="isWaiting != true"></span></button>
                     <button class="btn btn-o btn-success  pull-right tooltips" ng-click="OrderPaymentDeteails(orders)" ng-disabled="isWaiting == true"> <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-credit-card" ng-if="isWaiting != true"></span></button>
                     <button class="btn btn-o btn-default  pull-right tooltips" tooltip="Motorcu Değiştir!" ng-click="CheckCode(orders.id, orders.states)"><span class='ti-reload'></span></button>
                 </td>
             </tr>
         </table>
         <table class="col-lg-1 col-md-1 col-sm-1"></table>
         <table class="col-lg-3 col-md-3 col-sm-4 col-xs-12 row" style="color:black;">
             <tr>
                 <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: allpaymenttype}}</th>
                 <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: totalamount}}</th>
                 <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: totalcount}}</th>

             </tr>
             <tr class="margin-top-10" ng-repeat="payments in :refresh:item.payments">
                 <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{:: payments.PaymentType.name}}</td>
                 <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{:refresh:payments.Amount | number:2}}</span><span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> TL </span></td>
                 <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{payments.Count}}</span><span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Adet</span></td>
                 <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><button class="btn btn-o btn-warning tooltips" ng-click="CloseSameTypeAcounts(item.orders, payments.PaymentType)" ng-disabled="isWaiting == true"><span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-credit-card" ng-if="isWaiting != true"></span></button></td>
             </tr>
         </table>
     </div>
 </fieldset>

 <fieldset print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs" ng-repeat="item in StaffPayments | orderBy:'+Driver.name' | filter:DriverID track by item.Driver.id">
     <!--<legend translate="main.STAFFPAYMENTS"></legend>-->
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
         <span class="col-sm-6 col-xs-6 text-bold text-uppercase" style="color:black;">&nbsp; {{:: item.Driver.name}}</span>
         <span class="col-sm-6 col-xs-6">
             <button class="text-bold btn btn-o btn-primary pull-right btn-md" ng-click="CloseAllAccounts(item.orders, item.Driver.name)" ng-disabled="isWaiting == true"><span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span ng-if="isWaiting != true"></span>{{:: closeall}}</button>
         </span>
     </div>
     <hr />
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row" ng-hide="ShowObject==true">
         <span></span>
         <table class="col-sm-12 col-xs-12 row" style="color:black;">
             <tr class="bg-grey" style="color:black;">
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: ordernumber}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: personname}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{:: paymenttype}}</th>
                 <th class="col-lg-2 col-md-2 col-sm-1 col-xs-1">{{:: amount}}</th>
                 <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{:: address}}</th>
                 <th class="col-lg-1 col-md-1 col-sm-4 col-xs-4"></th>
             </tr>
             <tr ng-repeat="orders in item.orders| orderBy:'+OrderDate'">
                 <td class="col-sm-2 col-xs-2 text-bold" ng-click="SelectItem(orders.id)">
                     {{:: orders.OrderNumber}}
                 </td>
                 <td class="col-sm-2 col-xs-2 text-uppercase">
                     <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="person in :refresh:orders.persons track by person.id">
                         {{:: person.Person}} <br />
                     </span>
                 </td>
                 <td class="col-sm-2 col-xs-2">
                     <span>{{:refresh:orders.PaymentType.PaymentType.name}}</span>
                 </td>
                 <td class="col-sm-1 col-xs-1">
                     <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{:refresh:orders.Amount | number:2}} TL</span>
                 </td>
                 <td class="col-sm-1 col-xs-1">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase">
                         <div class="pop-div">
                             <label class="margin-bottom-10" Popover-animation="true" popover="
                                 {{:: orders.Address.StreetAddress}}
                                 {{:: orders.Address.AppartmentName}} Apt.
                                 N: {{:: orders.Address.AddressNo}}
                                 D: {{:: orders.Address.AppartmentNo}}
                                 Kat: {{:: orders.Address.Floor}}
                                 Giriş: {{:: orders.Address.Entrance}}
                                 Tarif: {{:: orders.Address.Landmark}}"
                                    popover-title="{{'main.ADDRESS' | translate}}">
                                 <label class="ti-direction-alt margin-top-5" tooltip="Adres İçin Tıklayın.."></label>
                             </label>
                         </div>
                     </div>
                 </td>
                 <td class="col-sm-4 col-xs-4">
                     <button class="btn btn-o btn-primary pull-right tooltips btn-sm" ng-click="CloseAcount(orders,$index, item)" ng-disabled="isWaiting == true"> <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-check" ng-if="isWaiting != true"></span></button>
                     <button class="btn btn-o btn-success  pull-right tooltips btn-sm" ng-click="OrderPaymentDeteails(orders)" ng-disabled="isWaiting == true"> <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-credit-card" ng-if="isWaiting != true"></span></button>
                     <button class="btn btn-o btn-default  pull-right tooltips btn-sm" tooltip="Motorcu Değiştir!" ng-click="CheckCode(orders.id, orders.states)"><span class='ti-reload'></span></button>
                 </td>
             </tr>
         </table>
         <table class="col-sm-12 col-xs-12 row" style="color:black;">
             <tr>
                 <th class="col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: allpaymenttype}}</th>
                 <th class="col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: totalamount}}</th>
                 <th class="col-sm-3 col-xs-3 bg-grey" style="color:black;">{{:: totalcount}}</th>
                 <th class="col-sm-3 col-xs-3 bg-grey" style="color:black;"></th>

             </tr>
             <tr class="margin-top-10" ng-repeat="payments in :refresh:item.payments">
                 <td class="col-sm-3 col-xs-3">{{:: payments.PaymentType.name}}</td>
                 <td class="col-sm-3 col-xs-3"><span>{{:refresh:payments.Amount | number:2}}</span> TL</td>
                 <td class="col-sm-3 col-xs-3"><span>{{payments.Count}}</span> Adet</td>
                 <td class="col-sm-3 col-xs-3"><button class="btn btn-o btn-warning tooltips" ng-click="CloseSameTypeAcounts(item.orders, payments.PaymentType)" ng-disabled="isWaiting == true"><span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span class="ti-credit-card" ng-if="isWaiting != true"></span></button></td>
             </tr>
         </table>
     </div>
 </fieldset>


 <fieldset print-only class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden visible-print" ng-repeat="item in StaffPayments | orderBy:'+Driver.name' | filter:DriverID track by item.Driver.id">
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row text-bold text-dark">
         <span class="col-lg-1 col-md-2 col-sm-3 col-xs-4" style="color:black;">{{:: staffname}} <label class="pull-right" style="color:black;"> : </label></span>
         <span class="col-lg-9 col-md-7 col-sm-6 col-xs-4 text-bold text-uppercase" style="color:black;">&nbsp; {{:: item.Driver.name}}</span>
     </div>
     <hr />
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="ShowObject==true">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:black;">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bg-grey" style="color:black;">{{:: allpaymenttype}}</span>
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bg-grey" style="color:black;">{{:: totalamount}}</span>
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bg-grey" style="color:black;">{{:: totalcount}}</span>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10" ng-repeat="payments in :refresh:item.payments">
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{:: payments.PaymentType.name}}</span>
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{:refresh:payments.Amount | number:2}}</span><span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> TL </span></span>
                 <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{payments.Count}}</span><span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Adet</span></span>
             </div>
         </div>
     </div>
 </fieldset>
</div>