<div ng-controller="userstoregroupCtrl as usg">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                <span class="mainTitle text-dark" style="font-size:25px;" translate="tittle.USERSTOREGROUP" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 margin-top-10">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right" ng-click="addItem()">
                    <span translate="main.ADDGROUPITEM"></span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <table ng-table="usg.tableParams" class="table table-hover">
            <tr ng-repeat="item in $data  track by $index" ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)" ng-click="setClickedRow($index)"
                ng-class="{'background-dark':$index == selectedRow, 'text-bold':$index == selectedRow , 'text-extra-large':$index == selectedRow}">
                <td data-title="trStoreGroup" data-sortable="'StoreGroupID'" style="width:20%" ng-click="EditRow(rowform,$index)">
                    <span class="text-capitalize" editable-select="item.StoreGroupID" e-name="StoreGroupID" e-ng-model="item.StoreGroupID" e-form="rowform"
                          e-ng-options="q.id as q.name for q in storegroups |orderBy:'+name'" e-style="width:15vw;">
                        {{ShowObject('storegroups','id',item.StoreGroupID,'name')}}
                    </span>
                </td>
                <td data-title="trUser" data-sortable="'UserID'" style="width:20%">
                    <span class="text-capitalize" editable-select="item.UserID" e-name="UserID" e-ng-model="item.UserID" e-form="rowform"
                          e-ng-options="q.id as q.name for q in users |orderBy:'+name'" e-style="width:15vw;">
                        {{ShowObject('users','id',item.UserID,'name')}}
                    </span>
                </td>
                <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="5%">
                    <form editable-form name="rowform" onaftersave="saveData(item)" ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="inserted == item || !item.id">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-transparent btn-sm tooltips ti-check"></button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)" class="btn btn-transparent btn-sm tooltips ti-close"></button>
                    </form>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{'main.EDIT' |translate}}" tooltip-placement="top" ng-click="rowform.$show()"></a>
                        <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs" tooltip="{{'main.DELETE' |translate}}" tooltip-placement="top" ng-click="removeItem($index)"></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-pencil" ng-click="rowform.$show()" translate="main.EDIT"> Edit</a>
                                </li>
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-close" ng-click="removeItem($index)" translate="main.DELETE"> Remove</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>