<div class="modal-header">
    <h3 class="modal-title">Are You Sure!!!<button class="btn btn-o pull-right ti-close" ng-click="cancel()"></button></h3>
</div>
<div class="panel-body panel panel-white">
    <div class="form-group col-sm-12 col-lg-10 col-md-12 col-xs-12">
        <label>You Have Unsaved Changes !!!</label>
        <label>Do You Want to Continue ?</label>
    </div>
    <br />
</div>
<div class="modal-footer center">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>

