<!-- toaster directive -->
<toaster-container toaster-options="{'time-out': 2000,'position-class': 'toast-bottom-right', 'close-button':true}">
</toaster-container>
<!-- / toaster directive -->
<div class="row" ng-controller="clockinoutCtrl">
    <div class="lock-screen">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" style="right: 400px;">
            <h4 class="center">{{user.FullName}}</h4>
            <img alt="" ng-src="assets/images/fingerprint.png" class="img-rounded center" height="242" width="242" />
            <div class="user-info">

                <form>
                    <h4 class="center">{{statusmessage}}</h4>
                    <div class="form-group" data-ng-hide="message == ''">
                        <span ng-class="{'alert alert-danger':message}">
                            {{message}}
                        </span>
                        <br />
                        <div class="col-sm-6 col-xs-6 margin-top-5 pull-right" ng-if="!user.ShiftActive">
                            <a class="btn btn-red ti-back-left pull-right" ng-click="gotoLogin()">{{::
                                'main.LOGIN'
                                | translate}}</a>
                        </div>
                        <div class="col-sm-6 col-xs-6 margin-top-5 pull-right" ng-if="user.ShiftActive">
                            <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"> {{:: 'main.BACK' |
                                translate}}</a>
                        </div>
                        <div class="form-group col-sm-4 col-lg-2 col-md-3 col-xs-6 margin-top-25"
                            ng-if="!user.isFingerPrintExist">
                            <a class="btn btn-wide btn-green btn-scroll btn-scroll-top ti-back-left pull-right"
                                ng-click="StartEnroll()">
                                <span>{{:: 'clockiout.EnrollFingerprint' | translate}} </span>
                            </a>
                        </div>
                        <div ng-repeat="msg in ClientMessages | orderBy:'$index':true">
                            {{$index}}-{{msg.MessageType}}:{{msg.Message}}
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <div class="lock-screen">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" style="left: 400px;">
            <h4 class="center">{{user.FullName}} {{CardEnrollMessage}}</h4>
            <img alt="" ng-src="assets/images/kartokuyucu.png" class="img-rounded center" height="242" width="242" />
            <div class="user-info">

                <form>
                    <h4 class="center">{{statusmessagecard  }}</h4>
                    <div class="form-group" data-ng-hide="message == ''">
                        <span ng-class="{'alert alert-danger':message}">
                            {{message}}
                        </span>
                        <br />
                        <div class="col-sm-6 col-xs-6 margin-top-5 pull-right" ng-if="!user.ShiftActive">
                            <a class="btn btn-red ti-back-left pull-right" ng-click="gotoLogin()">{{:: 'main.LOGIN'
                                | translate}}</a>
                        </div>
                        <div class="col-sm-6 col-xs-6 margin-top-5 pull-right" ng-if="user.ShiftActive">
                            <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"> {{:: 'main.BACK' |
                                translate}}</a>
                        </div>
                        <div class="form-group col-sm-4 col-lg-2 col-md-3 col-xs-6 margin-top-25"
                            ng-if="!user.isMagneticCardExist && !CardEnrollActive">
                            <a class="btn btn-wide btn-green btn-scroll btn-scroll-top ti-back-left pull-right"
                                ng-click="StartCardEnroll()">
                                <span>{{:: 'clockiout.EnrollCardPrint' | translate}} </span>
                            </a>
                        </div>
                        
                        <!-- <div ng-repeat="msg in ClientMessages | orderBy:'$index':true">
                            {{$index}}-{{msg.MessageType}}:{{msg.Message}}
                        </div> -->
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>