<!--<style>
    [class*="col-"] {
            background-color: #eee;
            background-color: rgba(86,61,124,.15);
            border: 1px solid #ddd;
            border: 1px solid rgba(86,61,124,.2);
        }
</style>-->
<div ng-init="app.layout.isSidebarClosed=true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" print-section>
    <tabset class="tabbable col-lg-12">
        <tab class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-controller="hotandreadyCtrl">
            <tab-heading print-remove>{{'main.CLOSNGTABLE' | translate}} <span ng-if="ShowObject==true" class="center"><span class="fa fa-spin fa-spinner center"></span></span><br /></tab-heading>
            <div visible-print hidden class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="mainTitle text-dark" style="font-size:25px;">{{'main.CLOSNGTABLE' | translate}}</span>
            </div>
            <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center bg-white" ng-if="isWaiting==true">
                <span class="margin-bottom-10">
                    <img src="assets/images/loader.gif" />
                </span>
            </div>
            <button print-remove print-btn class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa fa-print margin-top-15 margin-left-10" ng-disabled="ObjectShow==true" ng-hide="isWaiting==true">
                <span translate="main.PRINT">Print</span>
                <span ng-if="ObjectShow==true" class="fa fa-spin fa-spinner"></span>
            </button>
            <div print-only class="container-fluid container-fullw bg-white" style="min-height:1000px;">
                <tabset class="tabbable col-lg-12 bg-white">
                    <table print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered bg-white margin-top-30" ng-hide="isWaiting==true">
                        <tr>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Pazartesi</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Salı</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Çarşamba</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Perşembe</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Cuma</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Cumartesi</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Pazar</th>
                        </tr>
                        <tr>
                            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                Günlük Satış Tahminleri
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.MondayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.TuesdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.WednesdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.ThursdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.FridayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.SaturdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.SundayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                        </tr>
                        <tr ng-repeat="itemdata in item.closngtable.details">
                            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                {{itemdata.hnrGroup.name}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.MondayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.TuesdayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.WednesdayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.ThursdayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.FridayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.SaturdayData}}
                            </td>
                            <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.SundayData}}
                            </td>
                        </tr>
                    </table>

                    <div class="visible-print hidden col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered bg-white margin-top-30" ng-hide="isWaiting==true">
                        <div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-bold"></div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Pazartesi</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Salı</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Çarşamba</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Perşembe</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Cuma</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Cumartesi</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-bold">Pazar</div>
                        </div>
                        <div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                Günlük Satış Tahminleri
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.MondayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.TuesdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.WednesdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.ThursdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.FridayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.SaturdayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{item.closngtable.salesForecastData.SundayData |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </div>
                        </div>
                        <div ng-repeat="itemdata in item.closngtable.details">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                {{itemdata.hnrGroup.name}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.MondayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.TuesdayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.WednesdayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.ThursdayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.FridayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.SaturdayData}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                {{itemdata.SundayData}}
                            </div>
                        </div>
                    </div>
                </tabset>

            </div>
        </tab>
        <tab class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-controller="hotandreadyCtrl">
            <tab-heading>{{'main.CUTTABLE' | translate}} <span ng-if="ShowObject==true" class="center"><span class="fa fa-spin fa-spinner center"></span></span><br /></tab-heading>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center bg-white" ng-if="isWaiting==true">
                <span class="margin-bottom-10">
                    <img src="assets/images/loader.gif" />
                </span>
            </div>
            <div print-only class="container-fluid container-fullw bg-white" style="min-height:1000px;">
                <tabset class="tabbable col-lg-12 bg-white">
                    <table print-remove  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.cuttables" ng-hide="isWaiting==true">
                        <tr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Haftanın Günü: {{data.dayOfWeek}} </td>
                        </tr>
                        <tr>
                            <td>Saat: </td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                        </tr>
                        <tr ng-repeat="detail in data.details">
                            <td> {{detail.hnrProduct.name}} </td>
                            <td ng-repeat="dataitem in detail.datas"> {{dataitem.data}} </td>
                        </tr>
                    </table>

                    <div class="visible-print hidden col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.cuttables" ng-hide="isWaiting==true">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-bold">Haftanın Günü: {{data.dayOfWeek}} </div>
                        </div>
                        <div>
                            <div class="text-bold">Saat: </div>
                            <div class="text-bold">11</div>
                            <div class="text-bold">12</div>
                            <div class="text-bold">13</div>
                            <div class="text-bold">14</div>
                            <div class="text-bold">15</div>
                            <div class="text-bold">16</div>
                            <div class="text-bold">17</div>
                            <div class="text-bold">18</div>
                            <div class="text-bold">19</div>
                            <div class="text-bold">20</div>
                            <div class="text-bold">21</div>
                            <div class="text-bold">22</div>
                            <div class="text-bold">23</div>
                        </div>
                        <div ng-repeat="detail in data.details">
                            <div> {{detail.hnrProduct.name}} </div>
                            <div ng-repeat="dataitem in detail.datas"> {{dataitem.data}} </div>
                        </div>
                    </div>
                </tabset>
            </div>
        </tab>
        <tab class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-controller="hotandreadyCtrl">
            <tab-heading>{{'main.MAKETABLE' | translate}} <span ng-if="ShowObject==true" class="center"><span class="fa fa-spin fa-spinner center"></span></span><br /></tab-heading>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center bg-white" ng-if="isWaiting==true">
                <span class="margin-bottom-10">
                    <img src="assets/images/loader.gif" />
                </span>
            </div>
            <div class="container-fluid container-fullw bg-white" style="min-height:1000px;">
                <tabset class="tabbable col-lg-12 bg-white">
                    <table print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.maketables" ng-hide="isWaiting==true">
                        <tr class="col-lg-12">
                            <td class="col-lg-12 center">Haftanın Günü: {{data.dayOfWeek}} </td>
                        </tr>
                        <tr>
                            <td>Saat: </td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                        </tr>
                        <tr ng-repeat="detail in data.details">
                            <td> {{detail.hnrProduct.name}} </td>
                            <td ng-repeat="dataitem in detail.datas"> {{dataitem.data}} </td>
                        </tr>
                    </table>

                    <div class="visible-print hidden col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.maketables" ng-hide="isWaiting==true">
                        <div class="col-lg-12">
                            <div class="col-lg-12 center text-bold">Haftanın Günü: {{data.dayOfWeek}} </div>
                        </div>
                        <div>
                            <div class="text-bold">Saat: </div>
                            <div class="text-bold">11</div>
                            <div class="text-bold">12</div>
                            <div class="text-bold">13</div>
                            <div class="text-bold">14</div>
                            <div class="text-bold">15</div>
                            <div class="text-bold">16</div>
                            <div class="text-bold">17</div>
                            <div class="text-bold">18</div>
                            <div class="text-bold">19</div>
                            <div class="text-bold">20</div>
                            <div class="text-bold">21</div>
                            <div class="text-bold">22</div>
                            <div class="text-bold">23</div>
                        </div>
                        <div ng-repeat="detail in data.details">
                            <div> {{detail.hnrProduct.name}} </div>
                            <div ng-repeat="dataitem in detail.datas"> {{dataitem.data}} </div>
                        </div>
                    </div>

                </tabset>

            </div>
        </tab>
        <tab class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-controller="hotandreadyCtrl">
            <tab-heading>{{'main.DOUGHTABLE' | translate}} <span ng-if="ShowObject==true" class="center"><span class="fa fa-spin fa-spinner center"></span></span><br /></tab-heading>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center bg-white" ng-if="isWaiting==true">
                <span class="margin-bottom-10">
                    <img src="assets/images/loader.gif" />
                </span>
            </div>
            <div class="container-fluid container-fullw bg-white" style="min-height:1000px;">
                <tabset class="tabbable col-lg-12 bg-white">
                    <table print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.doughtables" ng-hide="isWaiting==true">
                        <tr class="col-lg-12">
                            <td class="col-lg-12 center">Haftanın Günü: {{data.dayOfWeek}} </td>
                        </tr>
                        <tr>
                            <td>Saat: </td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                        </tr>
                        <tr>
                            <td>Büyük Boy</td>
                            <td ng-repeat="detail in data.details"> {{detail.Big}} </td>
                        </tr>
                        <tr>
                            <td>Orta Boy</td>
                            <td ng-repeat="detail in data.details"> {{detail.Medium}} </td>
                        </tr>
                    </table>

                    <div class="visible-print hidden col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-bordered" ng-repeat="data in item.doughtables" ng-hide="isWaiting==true">
                        <div class="col-lg-12">
                            <div class="col-lg-12 center">Haftanın Günü: {{data.dayOfWeek}} </div>
                        </div>
                        <div>
                            <div>Saat: </div>
                            <div>11</div>
                            <div>12</div>
                            <div>13</div>
                            <div>14</div>
                            <div>15</div>
                            <div>16</div>
                            <div>17</div>
                            <div>18</div>
                            <div>19</div>
                            <div>20</div>
                            <div>21</div>
                            <div>22</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Büyük Boy</div>
                            <div ng-repeat="detail in data.details"> {{detail.Big}} </div>
                        </div>
                        <div>
                            <div>Orta Boy</div>
                            <div ng-repeat="detail in data.details"> {{detail.Medium}} </div>
                        </div>
                    </div>
                </tabset>

            </div>
        </tab>
    </tabset>
</div>