<div print-section ng-controller="InventoryRequirmentsEditCtrl" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="ShowObject==true">
            <span class="margin-bottom-10 visible-lg">
                <img src="assets/images/loader.gif" />
            </span>
            <span class="margin-bottom-10 visible-md visible-sm visible-xs">
                <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                    <span class="mainTitle text-dark text-uppercase" style="font-size:25px;" translate="tittle.INVENTORYREQUIRMENTITEM" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                    <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right" ng-click="Back()">
                        <span translate="main.BACK"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white" ng-hide="ShowObject==true">
            <div class="panel-body">
                <form role="form">
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12">
                        <label>{{:: trStore}}</label><br />
                        <select class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control" ng-options="q.id as q.name for q in stores |orderBy: '+name'" ng-model="item.StoreID" readonly></select>
                    </div>
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12"ng-if="cdate">
                        <label>{{:: datetime}}</label><br />
                        <!-- <select class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control" ng-options="q.lDATUField as q.lDATUField+'=>'+q.eDATUField for q in deliverydates |orderBy: '+lDATUField'" ng-model="item.Date"></select> -->
                        <select class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control" ng-options="q.Order_Take_Date as q.Order_Take_Date +'=>'+q.Arrival_Date for q in deliverydates |orderBy: '+Order_Take_Date'" ng-model="item.Date"></select>
                    </div>
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12" ng-if="!cdate">
                        <label>{{:: datetime}}</label><br />
                        <input id="Date" type="text" class="form-control ng" ng-model="item.Date" readonly ng-click="datepopup(item.Date)" required>
                    </div>
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12" ng-if="InventoryRequirmentID != 'new'">
                        <label>{{:: trisProcesseed}}</label><br />
                        <input id="isProcesseed" type="text" class="form-control ng" ng-model="item.isProcesseed" ng-true-value="İşleme alındı" ng-false-value="Yeni" readonly>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: note}}</label><br />
                        <textarea type="text" style='max-width:340px; max-height:100px' class="form-control text-uppercase" ng-model="item.Notes" placeholder=""></textarea>
                    </div>
                    
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <button class="btn btn-o btn-success btn-wide btn-scroll btn-scroll-left fa fa-check" ng-click="SaveData.$invalid=true;SaveData(true)"  ng-disabled="item.isProcesseed == true || isSpinner == true" ng-if="InventoryRequirmentID != 'new'">
                            <span class='fa fa-spin fa-spinner' ng-if='isSpinner == true'></span><span translate="main.ISPROCESS" ng-if="isSpinner != true">{{:: save}}</span>
                        </button>
                        <button class="btn btn-danger btn-wide btn-scroll btn-scroll-left fa ti-close pull-right" ng-show="$stateParams.id !== 'new'" ng-click="removedata(item.id)" ng-disabled="isSpinner == true" ng-if="canDelete">
                            <span class='fa fa-spin fa-spinner' ng-if='isSpinner == true'></span><span ng-if="isSpinner != true">{{:: delete}}</span>
                        </button>
                        <button class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa  fa-save " ng-click="SaveData.$invalid=true;SaveData(false)" data-ng-disabled="SaveData.$invalid" ng-disabled="isSpinner == true">
                            <span class='fa fa-spin fa-spinner' ng-if='isSpinner == true'></span><span ng-if="isSpinner != true">{{:: save}}</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="panel panel-white col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="InventoryRequirmentID != 'new'" ng-hide="ShowObject==true">
                <br />
                <div class="panel panel-white col-lg-12 col-md-12 col-sm-12 col-xs-12">
             
                    <div class="table-responsive">
                        <div class="demo-container" >
                            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                        </div>
                    </div>
              
               
            </div>
        </div>
        
    </div>