<div print-section ng-controller="inventorytransfereditCtrl as vm" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                    <span class="mainTitle text-dark text-uppercase" style="font-size:25px;" translate="tittle.INVENTORYTRANSFERITEM" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10 visible-lg visible-md">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                    <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right" ng-click="Back()">
                        <span translate="main.BACK"></span>
                    </a>
                </div>
            </div>
            <div print-remove class="col-sm-2 col-xs-2 margin-top-5 pull-right visible-sm visible-xs">
                <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white">
            <div class="panel-body">
                <form role="form">
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: documentnumber}}</label> &nbsp;<span class="symbol required"></span><br />
                        <input id="DocumentNumber" type="text" class="form-control text-capitalize" ng-model="item.DocumentNumber" placeholder="" ng-disabled="EditCountDisabled()" required>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label class="text-bold">{{:: documentnumber}}</label>
                        <label>: {{:: item.DocumentNumber}}</label>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: fromrepository}}</label> &nbsp;<span class="symbol required"></span><br />
                        <select id="repository" ng-options="q.id as q.fullname for q in repositories | orderBy:'+name'" class="form-control text-uppercase ng" ng-model="item.FromRepositoryID"  ng-disabled="EditCountDisabled()" ></select>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label class="text-bold">{{:: fromrepository}}</label>
                        <label>: {{:: item.FromRepositoryID}}</label>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: torepository}}</label> &nbsp;<span class="symbol required"></span><br />
                        <select id="repository" ng-options="q.id as q.fullname for q in repositories | orderBy:'+name'" class="form-control text-uppercase ng" ng-model="item.ToRepositoryID" ng-disabled="EditCountDisabled()" ></select>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12" ng-disabled="EditCountDisabled()">
                        <label class="text-bold">{{:: torepository}}</label>
                        <label>: {{:: item.ToRepositoryID}}</label>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: datetime}}</label><br />
                        <input id="Date" type="text" class="form-control ng" ng-model="item.TransferDate" datepicker-popup="dd-MM-yyyy" readonly ng-click="datepopup(item.TransferDate)" ng-disabled="EditCountDisabled()"  required>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12" ng-disabled="EditCountDisabled()">
                        <label class="text-bold">{{:: datetime}}</label>
                        <label>: {{:: item.TransferDate | date:'dd-MM-yyyy'}}</label>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: description}}</label> &nbsp;<span class="symbol required"></span><br />
                        <textarea type="text" style='min-height:60px; max-width:340px; max-height:100px' class="form-control text-uppercase" ng-model="item.Description" ng-disabled="EditCountDisabled()" placeholder=""></textarea>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12" required>
                        <label class="text-bold">{{:: description}}</label>
                        <label>: {{:: item.Description}}</label>
                    </div>
                    <div print-remove class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: trInventorySupplyState}}</label>
                        <select id="store" ng-options="q.Value as q.Name for q in inventorysupplystate | orderBy:'+Name'" class="form-control text-capitalize ng" ng-model="item.InventorySupplyState" ng-disabled="EditCountDisabled()" ></select>
                    </div>
                    <div print-only class="visible-print hidden col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label class="text-bold">{{:: trInventorySupplyState}}</label>
                        <label>: {{ ShowObject('inventorysupplystate','Value',item.InventorySupplyState,'Name') }}</label>
                    </div>
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12">
                        <label>{{:: trApprove}}</label>
                        <select id="store" ng-options="q.Value as q.Name for q in InventoryApproveState | orderBy:'+Name'" class="form-control text-capitalize ng" ng-model="item.ApproveState" ng-disabled="EditCountDisabled()" readonly></select>
                    </div>
                    <div print-remove class="form-group col-sm-1 col-lg-1 col-md-1 col-xs-12">
                        <button class="btn btn-o btn-success  btn-scroll btn-scroll-left fa fa-check-circle hidden-print pull-right margin-top-25" ng-disabled="item.ApproveState != 0 || isWaiting == true" ng-click="checkInventoryTransferApproval(item.id,1)">
                            <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span ng-if="isWaiting != true">{{:: trIsCheckbk}}</span>
                        </button>
                    </div>
                    <div print-remove class="form-group col-sm-1 col-lg-1 col-md-1 col-xs-12">
                        <button class="btn btn-o btn-red  btn-scroll btn-scroll-left fa fa-times hidden-print pull-right margin-top-25" ng-disabled="item.ApproveState != 0 || isWaiting == true" ng-click="checkInventoryTransferApproval(item.id,2)">
                            <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span ng-if="isWaiting != true">{{:: trReject}}</span>
                        </button>
                    </div>
                    <div print-remove class="form-group col-sm-2 col-lg-2 col-md-2 col-xs-12" style="    width: 200px;">
                        <button class="btn btn-o btn-warning  btn-scroll btn-scroll-left fa fa-check-circle hidden-print pull-right margin-top-25" ng-disabled="(item.ApproveState != 1 || item.InventorySupplyState == 0 || item.InventorySupplyState == 1 ||  isWaiting == true" ng-click="DeliverTransfer()">
                            <span class='fa fa-spin fa-spinner' ng-if='isWaiting == true'></span><span ng-if="isWaiting != true">{{:: trIsCheckStore}}</span>
                        </button>
                    </div>
                    <div print-remove class="form-group col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <button class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa  fa-save " ng-disabled="!vm.tableParams.data.length || SaveButtonActive == false || !item.Description || !item.DocumentNumber || !item.ToRepositoryID ||| isWaiting == true" ng-click="SaveData()"ng-dblclick="BottonDblcilik()">
                            <span>{{:: save}}</span>
                        </button>
                        <button class="btn btn-danger btn-wide btn-scroll btn-scroll-left fa ti-close pull-right" ng-show="($stateParams.id !== 'new' && item.InventorySupplyState==0 || item.InventorySupplyState==1) || user.isAdmin" ng-click="removedata(item.id)" ng-if="user.restrictions.inventorytransfersdelete=='Enable'">
                            <span>{{:: delete}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white">
            <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus margin-top-10 margin-left-10" ng-click="addItem()" ng-disabled="(item.InventorySupplyState == 3 ||item.InventorySupplyState == 5) || isWaiting == true">
                <span>{{:: addtransferitem}}</span>
            </a>
            <br />
            <div class="table-responsive">
                <table print-remove ng-table="vm.tableParams" class="table table-striped table-hover">
                    <tr ng-repeat="data in $data"
                        ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                        <td data-title="trInventoryUnit" data-sortable="'InventoryUnitID'" width="25%">
                            <span class="text-uppercase" editable-select="data.InventoryUnitID" e-name="InventoryUnitID" e-ng-model="data.InventoryUnitID"  e-form="rowform" e-ng-blur="GetInventoryUnitPrice(rowform,data)"
                                  e-ng-options="q.id as q.name for q in inventoryunits | orderBy:'+name' | filter: {isActiveValue: 'true'}">
                                {{ ShowObject('inventoryunits','id',data.InventoryUnitID,'name') }}
                            </span>
                        </td>
                        <td data-title="trUnitCount" data-sortable="'UnitCount'" width="25%">
                            <span editable-number="data.UnitCount" e-min="0" e-name="UnitCount" e-form="rowform" e-ng-model="data.UnitCount">
                                {{ data.UnitCount }}
                            </span>
                        </td>
                        <td data-title="trUnitPrice" data-sortable="'UnitPrice'" width="13%">
                            <span e-name="UnitPrice" e-ng-model="data.UnitPrice" e-form="rowform" e-style="width: 13vw;">
                                {{  data.UnitPrice | number : 4 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </span>
                        </td>
                        <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="4%">
                            <form editable-form name="rowform" onbeforesave="saveItem($data)" ng-show="rowform.$visible" class="form-buttons form-inline"
                                  shown="inserted == data|| !data.id">
                                <button type="submit" ng-disabled="rowform.$waiting" ng-click="savetoaster()" class="btn btn-transparent btn-sm tooltips ti-check"></button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)" class="btn btn-transparent btn-sm tooltips ti-close"></button>
                            </form>
                            <div class="buttons pull-right" ng-show="!rowform.$visible"  >
                                <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{:: edit}}" ng-if="user.restrictions.inventorytransferseditt=='Enable'" tooltip-placement="top" ng-click="rowform.$show()"></a>
                                <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs" tooltip="{{:: delete}}" tooltip-placement="top" ng-click="removeItem($index)" ng-if="user.restrictions.inventorytransfersdeletedremow=='Enable'"></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a class="btn btn-transparent btn-sm tooltips ti-pencil" ng-click="rowform.$show()"> {{:: edit}}</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-transparent btn-sm tooltips ti-close" ng-click="removeItem($index)"> {{:: delete}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="text-bold text-dark text-extra-large">
                        <td width="25%">{{:: 'main.GROUPTOTAL' | translate}}</td>
                        <td width="25%"></td>
                        <td width="13%"></td>
                        <td width="4%">{{groupTotal | number:2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </div>
