<div ng-controller="InventoryRequirmentCtrl as ir" ng-init="app.layout.isSidebarClosed=false">
    <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="isWaiting==true">
        <span class="margin-bottom-10 visible-lg">
            <img src="assets/images/loader.gif" />
        </span>
        <span class="margin-bottom-10 visible-md visible-sm visible-xs">
            <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
        </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="isWaiting==true">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                <span class="mainTitle text-dark" style="font-size:25px;" translate="tittle.INVENTORYREQUIRMENT" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                <a class="btn btn-warning btn-wide btn-scroll btn-scroll-top ti-plus pull-right" ng-click="newRequirmentStore()">
                    <span translate="main.ADDNEWREQUIRMENT"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15 table-responsive" ng-hide="isWaiting==true">
        <!--<div id="sales-chart" dx-chart="chartOptions"></div>-->
     <div dx-button="resetButtonOptions"></div>
        <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="delivery">
            <div data-options="dxTemplate: {name: 'detail'}">
                <!-- <div class="master-detail-caption">{{employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}}</div> -->
                <div dx-data-grid="getDetailGridSettings(delivery.key)"></div>
        	</div>
        </div>
    </div>
</div>
