<div ng-controller="inventoryadjusteditCtrl as ia" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="isWaiting==true">
            <span class="margin-bottom-10 visible-lg">
                <img src="assets/images/loader.gif" />
            </span>
            <span class="margin-bottom-10 visible-md visible-sm visible-xs">
                <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                    <span class="mainTitle text-dark text-uppercase" style="font-size:25px;" translate="tittle.INVENTORYADJUSTITEM" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10 visible-lg visible-md">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                    <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right" ng-click="Back()">
                        <span translate="main.BACK"></span>
                    </a>
                </div>
            </div>
            <div print-remove class="col-sm-2 col-xs-2 margin-top-5 pull-right visible-sm visible-xs">
                <a class="btn btn-red ti-back-left pull-right" ng-click="Back()"></a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white" ng-hide="isWaiting==true">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group  col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: adjusttype}}</label> &nbsp;<span class="symbol required"></span><br />
                        <select ng-options="q.Value as q.Name for q in adjusttypes| orderBy:'+Name'" class="form-control text-uppercase ng" ng-model="item.InventoryAdjustTypeID" ng-selected="item.InventoryAdjustTypeID"></select>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label>{{:: repository}}</label>
                        <select id="repository" ng-options="q.id as q.fullname for q in repositories| orderBy:'+name'" class="form-control text-uppercase ng" ng-model="item.RepositoryID"></select>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label class="text-bold">{{:: datetime}}</label> &nbsp;<span class="symbol required"></span>
                        <input id="Date" type="text" class="form-control ng" ng-model="item.AdjustDate" datepicker-popup="dd-MM-yyyy" datepicker-popup="dd-MM-yyyy" readonly ng-click="datepopup(item.AdjustDate)">
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <button class="btn btn-danger btn-wide btn-scroll btn-scroll-left fa ti-close pull-right" ng-show="$stateParams.id !=='new'" ng-if="user.restrictions.inventoryadjustDelete=='Enable'" ng-click="removedata(item.id)">
                            <span>{{:: delete}}</span>
                        </button>
                        <button class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa  fa-save pull-left " ng-click="SaveData()" ng-disabled="!item.InventoryAdjustTypeID || !item.AdjustDate">
                            <span>{{:: save}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white" ng-hide="isWaiting==true">
            <div class="table-responsive" ng-show="InventoryAdjustID != 'new'">
                <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus margin-top-10 margin-left-10" ng-click="addItem()">
                    <span>{{:: addadjustitem}}</span>
                </a>
                <br />
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                    <table ng-table="ia.tableParams" class="table table-striped table-hover">
                        <tr class="inputs" ng-repeat="item in $data | orderBy:'+AddDate'"
                            ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                            <td data-title="trInventoryUnit" data-sortable="'InventoryUnitID'" style="width:20%" ng-click="rowform.$show()">
                                <span class="text-uppercase" editable-select="item.InventoryUnitID" e-name="InventoryUnitID" e-ng-model="item.InventoryUnitID" e-form="rowform"
                                      e-ng-options="q.id as q.name for q in inventoryunits | orderBy:'+name'| filter: {isActiveValue: 'true'}" e-style="width: 10vw;" ng-click="rowform.$show()" e-ng-blur="GetInventoryUnitPrice(rowform,item)">
                                    {{ShowObject('inventoryunits','id',item.InventoryUnitID,'name')}}
                                </span>
                            </td>
                            <td data-title="trUnitCount" data-sortable="'UnitCount'" style="width:10%">
                                <span editable-number="item.UnitCount" e-min="0" e-name="UnitCount" e-form="rowform" e-ng-model="item.UnitCount" e-style="width: 10vw;">
                                    {{ item.UnitCount }}
                                </span>
                            </td>
                            <td data-title="trUnitPrice" data-sortable="'UnitPrice'" width="10%">
                                <span e-name="UnitPrice" e-ng-model="item.UnitPrice" e-form="rowform" e-style="width: 13vw;">
                                    {{  item.UnitPrice | number : 2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                                </span>
                            </td>
                            <td data-title="trTotal" data-sortable="''" style="width:10%">
                                {{ item.UnitPrice * item.UnitCount | number : 2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}
                            </td>
                            <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="10%">
                                <form editable-form name="rowform" onaftersave="SaveItem(item)" ng-show="rowform.$visible" class="form-buttons form-inline"
                                      shown="inserted == item|| !item.id">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-transparent btn-sm tooltips ti-check"></button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)" class="btn btn-transparent btn-sm tooltips ti-close"></button>
                                </form>
                                <div class="buttons pull-right" ng-show="!rowform.$visible">
                                    <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{:: edit}}" tooltip-placement="top" ng-click="rowform.$show()"></a>
                                    <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs" tooltip="{{:: delete}}" tooltip-placement="top" ng-click="removeItem($index)"></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="btn-group" dropdown is-open="status.isopen">
                                        <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                            <li>
                                                <a class="btn btn-transparent btn-sm tooltips ti-pencil" ng-click="rowform.$show()"> {{:: edit}}</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent btn-sm tooltips ti-close" ng-click="removeItem($index)"> {{:: delete}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
    </div>
</div>