<div ng-controller="inventorypurchaseeditCtrl as ipi" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                    <span class="mainTitle text-dark text-uppercase" style="font-size:25px;"
                        translate="tittle.INVENTORYPURCHASEITEM" translate-values="{ appName: app.name }">{{ mainTitle
                        }}</span><br /><br />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                    <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right"
                        ng-click="Back()">
                        <span translate="main.BACK"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.COMPANY" for="Company">
                            Company
                        </label>
                        <select id="store"
                            ng-options="q.id as q.Name for q in companies | orderBy:'+Name'| filter: {isActiveValue: 'true'}"
                            class="form-control text-capitalize ng" ng-model="item.CompanyID"></select>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.STORE" for="store">
                            Store
                        </label>
                        <select id="store" ng-options="q.id as q.name for q in stores | orderBy:'+name'"
                            class="form-control text-capitalize ng" ng-model="item.StoreID"></select>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.DATETIME" for="datetime">
                            Date Time
                        </label><br />
                        <input id="Date" type="text" class="form-control ng" ng-model="item.DateTime" datepicker-popup="dd-MM-yyyy" readonly
                            ng-click="datepopup(item.DateTime)" required>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.DELIVERYDATE" for="datetime">
                            Date Time
                        </label><br />
                        <input id="Date" type="text" class="form-control ng" ng-model="item.DeliveryDate" datepicker-popup="dd-MM-yyyy" readonly
                            ng-click="deliverydatepopup(item.DeliveryDate)" required>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.NOTE" for="notes">
                            Notes
                        </label>
                        <textarea type="text" style='min-height:60px; max-width:340px; max-height:100px'
                            class="form-control text-uppercase" ng-model="item.Notes" placeholder=""></textarea>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12">
                        <label translate="main.DESCRIPTION" for="description">
                            Description
                        </label>
                        <textarea type="text" style='min-height:60px; max-width:340px; max-height:100px'
                            class="form-control text-uppercase" ng-model="item.Description" placeholder=""></textarea>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12" ng-disabled>
                        <label translate="main.INVENTORYSUPPLYSTATE">
                            İnventory Supply State
                        </label><br />
                        <input id="Date" type="text" class="form-control ng"
                            ng-model="item.InventorySupplyStateDescription" readonly>
                    </div>
                    <div class="form-group col-sm-6 col-lg-3 col-md-3 col-xs-12" ng-disabled>
                        <label translate="main.EMAILCONFIRMED">
                            Email Confirmed
                        </label><br />
                        <input id="Date" type="text" class="form-control ng" ng-model="item.EmailConfirmed" readonly>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <button class="btn btn-danger btn-wide btn-scroll btn-scroll-left fa ti-close pull-right"
                            ng-show="$stateParams.id !== 'new'" ng-click="removedata(item.id)"
                            ng-if="user.restrictions.purchasedelete =='Enable'">
                            <span translate="main.DELETE">Delete Purchase</span>
                        </button>
                        <button
                            class="btn btn-o btn-success btn-wide btn-scroll btn-scroll-left fa fa-list-alt pull-right"
                            ng-click="creatDelivery()">
                            <span translate="main.CREATDELIVERY"></span>
                        </button>
                        <button
                            class="btn btn-o btn-warning btn-wide btn-scroll btn-scroll-left fa fa-repeat pull-right"
                            ng-click="RepeatOrder()" ng-if="user.restrictions.RepeatOrderPursh =='Enable'">
                            <span translate="main.SENDAGAIN"></span>
                        </button>
                        <button
                            class="btn btn-o btn-warning btn-wide btn-scroll btn-scroll-left fa fa-repeat pull-right"
                            ng-click="CancelOrder()" ng-if="user.restrictions.CancelOrderPursh =='Enable'">
                            <span translate="main.CANCELORDER"></span>
                        </button>
                        
                        <button class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa ti-close pull-right"
                            ng-click="saveData()">
                            <span translate="main.SAVE">Delete Purchase</span>
                        </button>
                        <button
                        class="btn btn-o btn-warning btn-wide btn-scroll btn-scroll-left fa fa-repeat pull-right"
                        ng-click="InventorySupplyState()" ng-if="user.restrictions.InventorySupplyStatePurchase =='Enable'">
                        <span translate="main.CHANGEORDER"></span>
                    </button>
                    </div>
                </form>
            </div>
            <fieldset class="panel-body">
                <legend translate="main.ADDSUPPLYAPROVE"></legend>
                <table ng-table="tableParams" class="table table-striped table-hover">
                    <tr ng-repeat="item in $data | orderBy:'+name'"
                        ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                        <td data-title="trUser" data-sortable="'NGUserID'" width="17%">
                            <span ng-if="item.NGUserID">{{ ShowObject('users','id',item.NGUserID,'FullName') }}</span>
                            <span ng-if="item.NGUserRoleID">{{ ShowObject('userroles','id',item.NGUserRoleID,'Name')
                                }}</span>
                        </td>
                        <td class="text-capitalize" data-title="trApproved" data-sortable="'ApproveState'" width="17%">
                            {{ ShowObject('InventoryApproveStates','Value',item.ApproveState,'Name') }}
                        </td>
                        <td class="text-capitalize" data-title="trApproveDate" data-sortable="'ApproveDate'"
                            width="17%">
                            {{ item.ApproveDate | date:'dd.MM.yyyy'}}
                        </td>
                        <td class="text-capitalize" data-title="trOrderIndex" data-sortable="'OrderIndex'" width="17%">
                            {{ item.OrderIndex }}
                        </td>
                        <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="4%">
                            <div class="buttons pull-right">
                                <div class="buttons pull-right" ng-show="!rowform.$visible">
                                    <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs"
                                        tooltip="{{'main.ISPREJECT' |translate}}" tooltip-placement="top"
                                        ng-click="checkInventoryDemandApproval(item.id, 2)"
                                        ng-if="user.restrictions.commandspurchdelt =='Enable'"></a>
                                    <a class="btn btn-transparent btn-sm tooltips ti-check hidden-sm hidden-xs"
                                        tooltip="{{'main.ISPCHECK' |translate}}" tooltip-placement="top"
                                        ng-click="checkInventoryDemandApproval(item.id, 1)"
                                        ng-if="user.restrictions.commandspurchsaves =='Enable'"></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="btn-group" dropdown is-open="status.isopen">
                                        <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle"
                                            dropdown-toggle>
                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                            <li>
                                                <a class="btn btn-transparent btn-sm tooltips ti-check"
                                                    ng-click="creatDelivery(item.id)" translate="main.ISPCHECK">
                                                    Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <br />
            <fieldset class="panel panel-white" ng-if="InventoryPurchaseID != 'new'" ng-hide="ShowObject==true">
                <legend>{{:: inventorypurchaseitem}}</legend>
              
                <br />
                <div class="table-responsive">
                    <div class="demo-container">
                        <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                    </div>
                </div>
            </fieldset>
            <br />
        </div>
        
    </div>
    
</div>