<div ng-controller="inventorydealsCtrl as id">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="isWaiting==true">
        <span class="margin-bottom-10 visible-lg">
            <img src="assets/images/loader.gif" />
        </span>
        <span class="margin-bottom-10 visible-md visible-sm visible-xs">
            <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
        </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="isWaiting==true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                        <span class="mainTitle text-dark" style="font-size:25px;" translate="tittle.INVENTORYDEALS" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <span translate="main.COMPANY"></span><br />
                    <select class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form-control text-uppercase" ng-options="q.id as q.Name for q in companies |orderBy: '+Name'| filter: {isActiveValue: 'true'}" ng-model="item.CompanyID"></select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <span translate="main.STORE"></span><br />
                    <select class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-control text-uppercase" ng-disabled="item.StoreGroupID" ng-model="item.StoreID">
                        <option value=""> ... </option>
                        <option ng-repeat="store in stores | orderBy:'+name'" value="{{store.id}}">{{store.name}}</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <span translate="main.STOREGROUP"></span><br />
                    <select class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-control text-uppercase" ng-disabled="item.StoreID" ng-model="item.StoreGroupID">
                        <option value=""> ... </option>
                        <option ng-repeat="storeg in storegroups | orderBy:'+name'" value="{{storeg.id}}">{{storeg.name}}</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <span translate="main.VALIDFROM">Tarih :</span><br />
                    <label><input id="DateValidFrom1" type="text" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form-control" ng-model="item.ValidFrom" readonly ng-click="DateValidFrom()" required></label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 margin-top-15">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:3px;">
                        <button class="form-control btn btn-o btn-primary" ng-click="loadData(item)">{{'main.LIST' | translate}} !</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:3px;">
                        <button class="form-control btn btn-o btn-primary" ng-click="newDealItem()">{{'main.NEW' | translate}}</button>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table ng-table="id.tableParams" class="table table-striped table-hover">
                <tr ng-repeat="item in $data |orderBy: '-ValidFrom'"
                    ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                    <td data-title="trCompany" data-sortable="'CompanyID'" style="width:10%" ng-click="SelectItem(item.id)" class="ng">
                        {{ShowObject('companies','id',item.CompanyID,'Name')}}
                    </td>
                    <td data-title="trDiscount" data-sortable="'PaymentTerm'" width="10%">
                        {{ item.Discount}}
                    </td>
                    <td data-title="trValidFrom" data-sortable="'ValidFrom'" style="width:10%">
                        {{ item.ValidFrom|date:'dd.MM.yyyy' }}
                    </td>
                    <td data-title="trValidTo" data-sortable="'ValidTo'" style="width:10%">
                        {{ item.ValidTo|date:'dd.MM.yyyy' }}
                    </td>
                    <td data-title="trStore" data-sortable="'StoreID'" style="width:10%" class="ng">
                        <span ng-repeat="store in item.Stores">
                            {{store.name}}
                        </span>
                    </td>
                    <td data-title="trStoreGroup" data-sortable="'StoreGroupID '" style="width:10%" class="ng">
                        <span ng-repeat="storegroups in item.StoreGroups">
                            {{storegroups.name}}
                        </span>
                    </td>
                    <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="5%">
                        <div class="buttons pull-right" ng-show="!rowform.$visible">
                            <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{'main.EDIT' |translate}}" tooltip-placement="top" href="#/app/inventory/inventorydeals/edit/{{item.id}}"></a>
                        </div>
                        <div class="buttons pull-right" ng-show="!rowform.$visible">
                            <a class="btn btn-transparent btn-sm tooltips ti-files hidden-sm hidden-xs" tooltip="{{'main.DEALCOPY' |translate}}" tooltip-placement="top" ng-click="coppyDeal(item.id)"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>