<div ng-controller="getirstatsCtrl" ng-init="app.layout.isSidebarClosed=true"
    class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
        <br />
 
        <!-- <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.TransferTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Aktarım süresi</span>
            </button>
        </div> -->
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;" ng-click="GoToOrders()">
                <span style="color:red; font-size:6vw; align-content:center">{{YemekSepetiStats.WaitingOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Ys Bekleyen sipariş</span>
            </button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;" ng-click="GoToGetirOrders()">
                <span
                    style="color:red; font-size:6vw; align-content:center">{{YemekSepetiStats.WaitingGetirOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Getir Bekleyen sipariş</span>
            </button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.TransferOverTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">YS 5 dk üzeri eşlenen sipariş</span>
            </button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.GetirTransferOverTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Getir 5 dk üzeri eşlenen sipariş</span>
            </button>
        </div>
       
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.AvgCustomerMappingTime
                    | number:2}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Ys Ortalama eşleme süresi</span>
            </button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.GetirAvgCustomerMappingTime
                    | number:2}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Getir Ortalama eşleme süresi</span>
            </button>
        </div>
 
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.ActialWaitTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Ys Güncel bekleme süresi</span>
            </button>
        </div>
   
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.GetirActialWaitTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Getir Güncel bekleme süresi</span>
            </button>
        </div>
               <!-- <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.MaxCustomerMappingTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">En uzun eşleme bekleme süresi</span>
            </button>
        </div> -->
         <!-- <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.AutoMappedOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Otomatik geçen sipariş</span>
            </button>
        </div> -->
        <!-- <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span
                    style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.CustomerMappedOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Müşteri eşleşen sipariş</span>
            </button>
        </div> -->
        <!-- <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:15vw; height:30vh;">
                <span style="color:navy; font-size:6vw; align-content:center">{{YemekSepetiStats.TotalOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:1vw;">Toplam sipariş</span>
            </button>
        </div> -->
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
        <br />
 
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:red; font-size:15vw; align-content:center">{{YemekSepetiStats.WaitingOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">YS Bekleyen sipariş</span>
            </button>
        </div>
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:red; font-size:15vw; align-content:center">{{YemekSepetiStats.WaitingOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Getir Bekleyen sipariş</span>
            </button>
        </div>
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.TransferOverTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;"> YS 5 dk üzeri eşlenen sipariş</span>
            </button>
        </div>
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.GetirTransferOverTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Getir 5 dk üzeri eşlenen sipariş</span>
            </button>
        </div>
     
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.AvgCustomerMappingTime
                    | number:2}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">YS Ortalama eşleme süresi</span>
            </button>
        </div>
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.GetirAvgCustomerMappingTime
                    | number:2}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Getir Ortalama eşleme süresi</span>
            </button>
        </div>
               <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-10 margin-bottom-10 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.ActialWaitTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Ys Güncel bekleme süresi</span>
            </button>
        </div>
        <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-10 margin-bottom-10 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.GetirActialWaitTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Getir Güncel bekleme süresi</span>
            </button>
        </div>
        <!-- <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.TransferTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Aktarım süresi</span>
            </button>
        </div> -->
           <!-- <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.AutoMappedOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Otomatik geçen sipariş</span>
            </button>
        </div> -->
        <!-- <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.CustomerMappedOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Müşteri eşleşen sipariş</span>
            </button>
        </div> -->
        <!-- <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span
                    style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.MaxCustomerMappingTime}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">En uzun eşleme bekleme süresi</span>
            </button>
        </div> -->
        <!-- <div class="col-sm-6 col-xs-6 center">
            <button
                class="btn btn-azure btn-o  center margin-left-20 margin-bottom-20 text-uppercase text-extra-large text-bold "
                style="width:40vw; height:30vh;">
                <span style="color:navy; font-size:15vw; align-content:center">{{YemekSepetiStats.TotalOrders}}</span>
                <br />
                <span style="vertical-align:bottom; color:black; font-size:5vw;">Toplam sipariş</span>
            </button>
        </div> -->
     
    </div>
</div>