<!--<style>
    [class*="col-"] {
        background-color: #eee;
        background-color: rgba(86,61,124,.15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86,61,124,.2);
    }
</style>-->
<div class="panel panel-transparent">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="ShowObject==true">
        <span class="margin-bottom-10 visible-lg">
            <img src="assets/images/loader.gif" />
        </span>
        <span class="margin-bottom-10 visible-md visible-sm visible-xs">
            <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
        </span>
    </div>
    <div class="panel-heading">
        <h3 class="modal-title center">{{'main.YSSTORESTATEEDIT' | translate}}<button class="btn btn-o pull-right ti-close" ng-click="cancel(item)"></button></h3>
    </div>

    <div class="panel-body"ng-hide="ShowObject==true">
        <fieldset>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <span for="StoreID">
                    {{'main.STORE' | translate}}
                </span>
                <select class="form-control text-uppercase ng" ng-options="q.id as q.name for q in stores| orderBy:'+name'" ng-model="item.StoreID"></select>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <span for="Open">
                    {{'main.YSSTORESTATE' | translate}}
                </span><br />
                <select id="Open" class="form-control" ng-model="Open">
                    <option value="true">Açık</option>
                    <option value="false">Kapalı</option>
                </select>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <label>
                    {{'main.NOTE' | translate}}
                </label>
                <textarea type="text" style='min-height:60px; max-width:340px; max-height:100px' class="form-control text-uppercase" ng-model="item.Note" placeholder=""></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-right">
                    <button translate="main.SENDTOYS" class="btn btn-primary" ng-click="SaveYsStore(item)"></button>
                </span>
            </div>
        </fieldset>

    </div>
</div>

