<style>
    div {
        overflow: hidden;
    }

    label {
        overflow: hidden;
    }

        .strike {
        text-decoration: line-through;
    }

    /*[class*="col-"] {
      background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);
    }*/
</style>

<div ng-controller="orderdisplayCtrl" ng-init="app.layout.isSidebarClosed=true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row panel panel-white margin-top-5" ng-repeat="order in orders" order="order">
            <div ng-class="{'list-group-item-info': order.OrderSource =='CallCenter' , 'list-group-item-danger': order.OrderSource =='Web' , 'list-group-item-warning': order.OrderSource =='YemekSepeti'}">
                <div class="row panel-heading">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="text-bold text-uppercase text-large">{{::order.OrderSource}}</span></span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.ORDERDATE' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.ORDERNUMBER' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.PERSONNAME' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.ORDERTYPE' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.ORDERSTATE' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.STORENAME' | translate}}</span>
                        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{::'main.ADDRESS' | translate}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::'main.ORDERDATE' | translate}}</span>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <button type="button" class="btn btn-o btn-primary tooltips btn-lg ti-check" ng-click="CheckOrder(order,1)"></button>
                            <button type="button" class="btn btn-o btn-danger tooltips btn-lg ti-close" ng-click="CheckOrder(order,14)"></button>
                            <button type="button" class="btn btn-o btn-warning tooltips btn-lg ti-share" ng-click="changestore(order)" ng-if="user.Store.MemberID != 300000000000"></button>
                            <button type="button" class="btn btn-o btn-success tooltips btn-lg ti-alert" ng-click="DeleteYSMaping(order.id)" ng-show="order.OrderSource == 'YemekSepeti' || order.OrderSource == 'Getir'" tooltip-placement="right" tooltip="Müşteri Eşleşmesini Sil !"></button>
                            <!--<button class="btn btn-wide btn-primary margin-top-10" ng-click="DeleteYSMaping(order.id)" ng-show="order.OrderSource == 'YemekSepeti'">
                                <span>{{'main.DELETECUSTOMERYSMAPING' | translate}}</span>
                            </button>-->
                        </span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">[{{::order.TimerStr}}]</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.OrderNumber}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.persons[0].Person}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.OrderType}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.OrderState}}</span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.Store}}</span>
                        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            {{:: order.Address.StreetAddress}}
                            {{:: order.Address.AppartmentName}} Apt.
                            N: {{:: order.Address.AddressNo}}
                            D: {{:: order.Address.AppartmentNo}}
                            Kat: {{:: order.Address.Floor}}
                            Giriş: {{:: order.Address.Entrance}}
                            Tarif: {{:: order.Address.Landmark}}
                            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5" ng-show="order.OrderSource == 'YemekSepeti'">
                                <label class="text-bold text-dark">{{::'main.YSORDERDETAILS' |translate}}</label><br />
                               Adres : {{::order.YemekSepetiOrderMap.YemekSepetiRawOrder.Address}} <br />
                               Müşteri Bilgileri : {{::order.YemekSepetiOrderMap.YemekSepetiRawOrder.CustomerName}} -  {{::order.YemekSepetiOrderMap.YemekSepetiRawOrder.CustomerPhone}} <br />
                               Restoran : {{::order.YemekSepetiOrderMap.YemekSepetiRawOrder.RestaurantName}} <br />

                            </span>
                        </span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{::order.OrderDate | date: "dd-MM-yyyy / HH:mm:s" }}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div id="panel5">
                        <div class="panel-heading">
                            <h4 class="panel-title text-primary" ng-click="collapse =! collapse">{{::'main.ORDERDETAILS' |translate}} <span class="pull-right text-bold text-dark text-extra-large">{{order.PaymentType.PaymentType.name}} / {{order.Amount | number:2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}</span></h4>
                        </div>
                        <div collapse="panel1" ng-if="collapse" class="panel-wrapper">
                            <div class="panel-body">
                                <div class="row panel-body">
                                    <form role="form">
                                        <div><span ng-repeat='member in order.items'><kvsorder-item member='member'></kvsorder-item></span></div>
                                    </form>
                                </div>
                                <span class="text-bold text-large text-uppercase">
                                    {{::'main.ORDERSNOTE' | translate}} :{{::order.OrderNote}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
