<style>
    div {
        overflow: hidden;
    }

    label {
        overflow: hidden;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
        font-size: 11px;
        width: 100px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #ffffff;
    }
    .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    color:red;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
    /*[class*="col-"] {
      background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);
    }*/
</style>
<div ng-controller="ysordersdisplayCtrl" ng-init="app.layout.isSidebarClosed=true"
    class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row panel panel-white margin-top-5" ng-repeat="order in orders" order="order">
            <div class="row panel-heading visible-lg visible-md">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                    <!-- <span class="col-lg-2 col-md-2"></span>
                    <span class="col-lg-1 col-md-1">{{'main.ORDERNUMBER' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.ORDERSTATE' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.NOTE' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.PERSONNAME' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.PHONE' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.STORENAME' | translate}}</span>
                    <span class="col-lg-2 col-md-2">{{'main.ADDRESS' | translate}}</span>
                    <span class="col-lg-1 col-md-1">{{'main.ORDERDATE' | translate}}</span>
                    <span class="col-lg-1 col-md-1">Reserverd to1</span> -->

                    <table>
                        <tr style="  background-color: #f5f5f5;">
                            <th></th>
                            <th>{{'main.ORDERNUMBER' | translate}}</th>
                            <th>{{'main.ORDERSTATE' | translate}}</th>
                            <th>{{'main.NOTE' | translate}}</th>
                            <th>{{'main.PERSONNAME' | translate}}</th>
                            <th>{{'main.PHONE' | translate}}</th>
                            <th>{{'main.STORENAME' | translate}}</th>
                            <th>{{'main.ADDRESS' | translate}}</th>
                            <th>{{'main.ORDERDATE' | translate}}</th>
                            <th>Reserverd to1</th>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                
                                    <button type="button" class="btn btn-o btn-primary btn-lg tooltips ti-check"
                                        ng-click="checkOrder(order)"
                                        ng-hide="order.YemekSepetiOrderStateID !=1"></button>
                                    <button type="button" class="btn btn-o btn-green btn-lg tooltips ti-check"
                                        ng-click="ProcessOrder(order)"
                                        ng-show="order.YemekSepetiOrderStateID ==0"></button>
                                    <button type="button" class="btn btn-o btn-danger btn-lg tooltips ti-close"
                                        ng-click="rejectOrder(order)"></button>
                                    <button type="button" class="btn btn-o btn-warning btn-lg tooltips ti-share"
                                        ng-click="changestore(order)"></button>
                                    <button type="button" class="btn btn-o btn-success btn-lg tooltips ti-hand-open"
                                        ng-click="SelectPerson(order)"
                                        ng-if="user.Store.YemekSepetiOrderStateID == 5"></button>
                          
                            </td>
                            <td>{{order.YemekSepetiOrderID}}</td>
                            <td>{{order.YemekSepetiOrderState}}</td>
                            <td>{{order.Notes }}</td>
                            <td>{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerName}}</td>
                            <td>{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerPhone}}</td>
                            <td>{{order.YemekSepetiOrder.YemekSepetiRawOrder.RestaurantName}}</td>
                            <td>{{order.YemekSepetiOrder.YemekSepetiRawOrder.Address}}
                                (--{{order.YemekSepetiOrder.YemekSepetiRawOrder.AddressDescription}}---)</td>
                            <td>{{order.OrderDate | date:'dd-MM-yyyy / HH:mm:ss' }}</td>
                            <td class="blink">{{order.Reservation.NGUser.FullName }}</td>
                        </tr>
                    </table>
                </div>
                <hr />
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                    <span class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <button type="button" class="btn btn-o btn-primary btn-lg tooltips ti-check" ng-click="checkOrder(order)" ng-hide="order.YemekSepetiOrderStateID !=1"></button>
                        <button type="button" class="btn btn-o btn-green btn-lg tooltips ti-check" ng-click="ProcessOrder(order)" ng-show="order.YemekSepetiOrderStateID ==0"></button>
                        <button type="button" class="btn btn-o btn-danger btn-lg tooltips ti-close" ng-click="rejectOrder(order)"></button>
                        <button type="button" class="btn btn-o btn-warning btn-lg tooltips ti-share" ng-click="changestore(order)"></button>
                        <button type="button" class="btn btn-o btn-success btn-lg tooltips ti-hand-open" ng-click="SelectPerson(order)" ng-if="user.Store.YemekSepetiOrderStateID == 5"></button>
                    </span>
                    <span class="col-lg-1 col-md-1">{{order.YemekSepetiOrderID}}</span>
                    <span class="col-lg-1 col-md-1">{{order.YemekSepetiOrderState}}</span>
                    <span class="col-lg-1 col-md-1">{{order.Notes }}</span>
                    <span class="col-lg-1 col-md-1 text-bold text-dark text-uppercase">{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerName}}</span>
                    <span class="col-lg-1 col-md-1 text-bold text-dark">{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerPhone}}</span>
                    <span class="col-lg-1 col-md-1">{{order.YemekSepetiOrder.YemekSepetiRawOrder.RestaurantName}}</span>
                    <span class="col-lg-2 col-md-2 text-bold text-dark text-uppercase">{{order.YemekSepetiOrder.YemekSepetiRawOrder.Address}}  (--{{order.YemekSepetiOrder.YemekSepetiRawOrder.AddressDescription}}---)</span>
                    <span class="col-lg-1 col-md-1">{{order.OrderDate | date:'dd-MM-yyyy / HH:mm:ss' }}</span>
                    <span class="col-lg-1 col-md-1 text-bold text-red text-uppercase">{{order.Reservation.NGUser.FullName }}</span>
                </div> -->
            </div>

            <div class="row panel-heading visible-sm visible-xs">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                        <span class="col-sm-4 col-xs-4"></span>
                        <span class="col-sm-3 col-xs-3">{{'main.ORDERNUMBER' | translate}}</span>
                        <span class="col-sm-4 col-xs-4">{{'main.ORDERSTATE' | translate}}</span>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                        <span class="col-sm-4 col-xs-4">
                            <button type="button" class="btn btn-o btn-primary btn-lg tooltips ti-check"
                                ng-click="checkOrder(order)" ng-hide="order.YemekSepetiOrderStateID !=1"></button>
                            <button type="button" class="btn btn-o btn-danger btn-lg tooltips ti-close"
                                ng-click="rejectOrder(order)"></button>
                        </span>
                        <span class="col-sm-3 col-xs-3">{{order.YemekSepetiOrderID}}</span>
                        <span class="col-sm-4 col-xs-4">{{order.YemekSepetiOrderState}}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                        <span class="col-sm-4 col-xs-4">{{'main.NOTE' | translate}}</span>
                        <span class="col-sm-3 col-xs-3">{{'main.PERSONNAME' | translate}}</span>
                        <span class="col-sm-3 col-xs-3">{{'main.PHONE' | translate}}</span>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                        <span class="col-sm-4 col-xs-4">{{order.Notes }}</span>
                        <span
                            class="col-sm-3 col-xs-3 text-bold text-dark text-uppercase">{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerName}}</span>
                        <span
                            class="col-sm-3 col-xs-3 text-bold text-dark">{{order.YemekSepetiOrder.YemekSepetiRawOrder.CustomerPhone}}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                        <span class="col-sm-3 col-xs-3">{{'main.STORENAME' | translate}}</span>
                        <span class="col-sm-6 col-xs-6">{{'main.ADDRESS' | translate}}</span>
                        <span class="col-sm-3 col-xs-3">{{'main.ORDERDATE' | translate}}</span>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                        <span
                            class="col-sm-3 col-xs-3">{{order.YemekSepetiOrder.YemekSepetiRawOrder.RestaurantName}}</span>
                        <span
                            class="col-sm-6 col-xs-6 text-bold text-dark text-uppercase">{{order.YemekSepetiOrder.YemekSepetiRawOrder.Address}}
                            (--{{order.YemekSepetiOrder.YemekSepetiRawOrder.AddressDescription}}---)</span>
                        <span class="col-sm-3 col-xs-3">{{order.OrderDate | date:'dd-MM-yyyy / HH:mm:ss' }}</span>
                        <span
                            class="col-lg-1 col-md-1 text-bold text-red text-uppercase">{{order.Reservation.NGUser.FullName
                            }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-white" id="panel5">
                    <div class="panel-heading">
                        <h4 class="panel-title text-primary" ng-click="collapse =! collapse">{{'main.ORDERDETAILS'
                            |translate}} <span
                                class="pull-right text-bold text-dark text-extra-large">{{order.YemekSepetiOrder.YemekSepetiRawOrder.OrderTotal
                                | number:2}} {{:: 'main.CURRENCY_SYMBOL' | translate}}</span></h4>
                    </div>
                    <div collapse="panel1" ng-if="collapse" class="panel-wrapper">
                        <div class="panel-body">
                            <div class="row panel-body">
                                <form role="form">
                                    <div>
                                        <span
                                            ng-repeat="member in order.YemekSepetiOrder.YemekSepetiRawOrder.YemekSepetiRawOrderDetails">
                                            <label class='ti-shopping-cart-full text text-dark text-bold text-large'>
                                                {{member.Quantity}} X {{member.Name}} <br />
                                                <span class="margin-top-5 margin-left-10"
                                                    ng-repeat="membermember in member.YemekSepetiRawOrderItemOptions">
                                                    <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                                        {{membermember.Name}}
                                                    </label>
                                                    <br />
                                                </span>
                                                <span class="margin-top-5 margin-left-5"
                                                    ng-repeat="items in member.YemekSepetiRawOrderDetails">
                                                    <label
                                                        class='ti-arrow-circle-right margin-top-5 text-large text-bold'>
                                                        {{items.Quantity}} X {{items.Name}} <br />
                                                        <span class="margin-top-5 margin-left-10"
                                                            ng-repeat="itemitem in items.YemekSepetiRawOrderDetails">
                                                            <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                                                {{itemitem.Name}}
                                                            </label>
                                                            <br />
                                                        </span>
                                                        <span class="margin-top-5 margin-left-10"
                                                            ng-repeat="itemitem in items.YemekSepetiRawOrderItemOptions">
                                                            <label class='ti-arrow-circle-down margin-top-5 text-large'>
                                                                {{itemitem.Name}}
                                                            </label>
                                                            <br />
                                                        </span>
                                                    </label>
                                                    <br />
                                                </span>
                                            </label>
                                            <br />
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>