<style>
    /*.full {
        background: url('assets/images/arka.png') no-repeat center center fixed;
        background-size: cover;
        height:100%;
    }*/
    /*.btnimg {
            background: url(assets/images/tableplan.png) no-repeat;
        }*/

    /*[class*="col-"] {
            background-color: #eee;
            background-color: rgba(86,61,124,.15);
            border: 1px solid #ddd;
            border: 1px solid rgba(86,61,124,.2);
        }*/
</style>
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-image: url(assets/images/arka.png); border: 1px solid black;" ct-fullheight="window" data-ct-fullheight-exclusion="header" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">-->
<div ng-controller="tablePlanCtrl as tp" ng-hide="app.layout.isSidebar"
    ng-init="app.layout.isSidebarClosed=true">
    <div class="panel visible-lg visible-md visible-sm visible-xs">
        <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="isWaiting==true">
            <span class="margin-bottom-10 visible-lg">
                <img src="assets/images/loader.gif" />
            </span>
            <span class="margin-bottom-10 visible-md visible-sm visible-xs">
                <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
            </span>
        </div>

        <tabset justified="true" class="tabbable col-lg-12" ng-hide="isWaiting==true">
            <tab class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color:fafafa;" ng-repeat="storetables in :refresh:tableplans |orderBy:'+name'">
                <tab-heading>{{:refresh: storetables.name}}</tab-heading>
                <div style="width:100%; height:100%;">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4"
                        ng-repeat="item in storetables.tables">

                        

                        <div id="{{:refresh:item.id}}"
                            class="btn btn-azure btn-o col-md-12 center margin-left-20 margin-top-5 text-capitalize radius-10 visible-md visible-lg"
                            style="width:18vh; height:15.5vh;"
                            ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0), 'ti-check': item.Selected == true}"
                            ng-dblclick="changeTable(item)" ng-position>
                            <div class="col-md-12">
                                <span class="col-md-6 pull-left" style="color:black;">{{:refresh: item.name}}</span>
                                <span class="col-md-6 pull-right" style="color:black;"
                                    ng-repeat="orderitem in :refresh:item.orders "><span tooltip="{{:refresh:orderitem.OrderProducts}}"
                                        tooltip-placement="right">{{:refresh:orderitem.OrderNumber}}</span></span>
                            </div>
                            <div class="col-md-12">
                                <span class="col-md-6 pull-left"
                                    style="white-space: nowrap; overflow:hidden; text-overflow:clip;"
                                    ng-repeat="orderitem in :refresh:item.orders" ng-if=":refresh:orderitem.Alias">
                                    ({{:refresh:orderitem.Alias}})
                                </span>
                                <span class="col-md-6 pull-right"
                                    style="color:black; white-space: nowrap; overflow:hidden; text-overflow:clip;"
                                    ng-repeat="orderitem in :refresh:item.orders">{{:refresh:orderitem.Remaining | number : 2}} {{:refresh:'main.CURRENCY_SYMBOL' | translate}}</span>
                            </div>
                            <!--<div class="col-md-12">
                            <span class="col-md-12">
                                <span class="center">
                                    <img src="assets/images/InStore.png" style="width:2vw; height:2vw;" />
                                </span>
                            </span>
                        </div>-->
                            <div class="col-md-12 ">
                                <span class="col-md-4 btn btn-o btn-md btn-primary fa fa-cutlery"
                                    ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}"
                                    ng-click="AddTableOrder(item.orders,item.id)" ng-disabled="ShowObject == false"
                                    ng-dblclick="dbClick()">
                                    <span class="fa fa-spin fa-spinner" ng-if="ShowObject == false"></span>
                                </span>
                                <span ng-repeat="orderitem in :refresh:item.orders"
                                    class="col-md-4 btn btn-o btn-md btn-primary fa fa-calculator"
                                    ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}"
                                    ng-click="OrderPaymentDeteails(orderitem)"
                                    ng-disabled="ShowObject == false || item.orders[0].OrderStateID==4">
                                    <span class="fa fa-spin fa-spinner" ng-if="ShowObject == false"></span>
                                </span>
                            </div>
                            <div class="col-md-12 margin-top-5" ng-if=":refresh:item.orders.length > 0">
                                {{:timers:item.ActiveOrderTime}}

                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>    
</div>
<!--<div ng-controller="tablePlanCtrl as tp" class="panel panel-body" ng-hide="app.layout.isSidebar" ng-init="app.layout.isSidebarClosed=true">
    <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="isWaiting==true">
        <span class="margin-bottom-10 visible-lg">
            <img src="assets/images/loader.gif" />
        </span>
        <span class="margin-bottom-10 visible-md visible-sm visible-xs">
            <img class="center" style="width:250px; height:200px;" src="assets/images/loader.gif" />
        </span>
    </div>
    <div class="container-fluid container-fullw bg-white visible-lg visible-md">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tabset class="tabbable">
                    <tab class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-repeat="storetables in tableplans |orderBy:'+name'">
                        <tab-heading class="text-uppercase text-bold">
                            {{:: storetables.name}}
                        </tab-heading>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel scrollbar margin-top-20" id="style-6" style="overflow:auto;" ct-fullheight="window" data-ct-fullheight-exclusion="header">

                            <button class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-left-5 margin-top-5 btn btn-squared btn-o btn-dark-azure" style="width:130px; height:130px;" ng-repeat="item in storetables.tables |orderBy:'+name'" ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}" ng-click="AddTableOrder(item.orders,item.id)" ng-disabled="ShowObject == false" ng-dblclick="dbClick()">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                                    <span class="center text-bold">{{:: item.name}}</span>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                    <span ng-repeat="orderitem in item.orders" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-o btn-lg btn-primary fa fa-calculator" ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}" ng-click="OrderPaymentDeteails(orderitem)" ng-disabled="ShowObject == false || item.orders[0].OrderStateID==4">
                                        <span class="fa fa-spin fa-spinner" ng-if="ShowObject == false"></span>
                                    </span>
                                </div>
                            </button>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fullw bg-white visible-sm visible-xs">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tabset class="tabbable">
                    <tab class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-repeat="storetables in tableplans |orderBy:'+name'">
                        <tab-heading class="text-uppercase text-bold">
                            {{:: storetables.name}}
                        </tab-heading>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel scrollbar margin-top-20" id="style-6" style="overflow:auto;" ct-fullheight="window" data-ct-fullheight-exclusion="header">

                            <button class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-5 margin-left-5 btn btn-squared btn-o btn-dark-azure" style="width:100px; height:100px;" ng-repeat="item in storetables.tables |orderBy:'+name'" ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}" ng-click="AddTableOrder(item.orders,item.id)" ng-disabled="ShowObject == false" ng-dblclick="dbClick()">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-5">
                                    <span class="center text-bold">{{:: item.name}}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                    <span ng-repeat="orderitem in item.orders" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-o btn-lg btn-primary fa fa-calculator" ng-class="{'btn btn-red text-bold':(item.orders && item.orders.length > 0)}" ng-click="OrderPaymentDeteails(orderitem)" ng-disabled="ShowObject == false || item.orders[0].OrderStateID==4">
                                        <span class="fa fa-spin fa-spinner" ng-if="ShowObject == false"></span>
                                    </span>
                                </div>
                            </button>
                        </div>
                    </tab>
                </tabset>
           </div>
        </div>
    </div>
</div>-->