/*html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}*/
@font-face {
    font-family: 'digital-7-mono';
    src: url('../fonts/digital-7-mono.ttf') format('truetype'),
    url('../fonts/digital-7-mono.eot') format('embedded-opentype');
}
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.page-content {
    background:white;
    height: 100vh;
    width: 100vw;
    font-family:Verdana;
}
.page-idle {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/cdisplay.jpg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-active {
    height: 100%;
    background-image: url('../images/cdisplay_order.jpg');
    background-size: cover;
    background-position: center center;
}
.hutla-katla {
    height: 100%;
    background-image: url('../images/cdisplay_PH_Hutlakatla.jpg');
    background-size: cover;
    background-position: center center;
}
.sosyal-mesafe {
    height: 100%;
    background-image: url('../images/SOSYAL MESAFE.jpg');
    background-size: cover;
    background-position: center center;
}
.sosyal-mesafe2 {
    height: 100%;
    background-image: url('../images/SOSYAL MESAFE2.jpg');
    background-size: cover;
    background-position: center center;
}
.sosyal-mesafe3 {
    height: 100%;
    background-image: url('../images/SOSYAL MESAFE3.jpg');
    background-size: cover;
    background-position: center center;
}
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
.reklam {
    flex-grow: 2;
    height: 100vh;
    width: 55vw;
}
.sipairs-bas {
    flex-grow: 1;
    height: 10vh;
    width: 100vw;
    text-align:center;
}
.sipairs-son {
    flex-grow: 1;
    height: 10vh;
    width: 100vw;
}
.sipairs-orta {
    flex-grow: 1;
    height: 75vh;
    width: 100vw;
}
.sipairs {
    flex-grow: 1;
    height: 100vh;
    width: 25vw;
    background-color:white;
}
.wrapper {
    width: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 30%;*/
    /*height:30%;*/
}
/* Clock Module */
.Clock {
    font-family: 'digital-7-mono', sans-serif;
    width: 70%;
    margin: 0 auto;
}

.Clock-time {
    width: 100%;
    font-size: 150px;
    text-align: center;
    font-family: 'digital-7-mono';
}

.Clock-date {
    width: 100%;
    font-size: 70px;
    text-align: center;
}

.button {
    width: 300px;
    height: 100px;
    background-color: red;
}

.flex-item {
    flex-grow: 1;
    height: 100vh;
    width: 50vw;
    //Everything below is just style background: #000;
    &:nth-child(2n)

{
    background: #cecece;
}

.flex-item {
    background: #232323;
    &:nth-child(2n)

{
    background: #565656;
}

}
}

