<div ng-controller="personlistCtrl as vm" ng-keyup="event=$event" ng-init="app.layout.isSidebarClosed=true">
    <div>
        <h1 class="mainTitle col-lg-8 col-md-8 col-sm-8 col-xs-12" translate="tittle.PERSON" translate-values="{ appName: app.name }">{{ mainTitle }}</h1><br /><br />
        <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top pull-right ti-plus" ng-click="PhoneLenght('#/app/orders/person/edit/new')">
            <span translate="main.ADDNEWPERSON">New Person</span>
        </a>
    </div>
    <p>
        <!--<input id="searchbyname" class="form-control" focus="true" placeholder="{{'main.SEARCHBYNAME' | translate}}" type="text" ng-model="vm.searchName" ng-model-options="{ debounce: 500 }"/><br />-->
        <input id="searchbyname" class="form-control" focus="true" placeholder="{{'main.SEARCHBYNAME' | translate}}" type="text" ng-model="vm.searchName" ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)" /><br />
        <input class="form-control" placeholder="(999) 999 99 99" type="text" ng-model="vm.searchPhone" ng-model-options="{ debounce: 1000 }" maxlength="10" />
        <br />
        <label class="text text-bold text-extra-large text-primary pull-left fa fa-spinner center" ng-if="isSearch==true"><span class="center">{{'main.SEARCHING' | translate}} {{SerchValue}}</span></label>
    </p>
    <table ng-table="vm.tableParams" class="table table-striped table-hover" ng-show="vm.searchName != '' || searchPhone != ''">
        <tbody ng-repeat="item in $data ">
            <tr>
                <td class="text-uppercase ng" data-title="trName" data-sortable="'name'" width="33%" ng-click="GoPersonEdit(item.id)">
                    {{item.name}}
                </td>
                <td data-title="trEmail" data-sortable="Email" ng-model="item.PersonEmails" width="33%">
                    {{ ShowArrayEmail(item.PersonEmails,  'email') }}
                </td>
                <td data-title="trPhone" data-sortable="Phone" ng-model="item.PersonPhones" width="33%">
                    <!--{{ ShowArray(item.PersonPhones, 'Number')}}-->
                    <label ng-hide="{{ ShowArray(item.PersonPhones, 'Number')}}"></label>
                    <span>
                        <label class="col-md-2" ng-repeat="phone in PhoneNumber">{{phone}} </label>
                    </span>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{'main.EDIT' |translate}}" tooltip-placement="top" ng-click="GoPersonEdit(item)"></a>
                    </div>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <a class="btn btn-success btn-wide btn-scroll btn-scroll-top pull-right ti-shopping-cart" ng-click="TakeOrder(item.id,1)">
                            <span>{{'main.TAKEAWAY' | translate}}</span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--
         <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top pull-right ti-plus" href="/assets/views/person/person2.html">
             <span>New Person List</span>
        </a>
    -->
</div>