<h3 class="modal-title center margin-top-10">{{'main.PERSONSURVEYS' | translate}}<button class="btn btn-danger ti-close pull-right margin-right-5" ng-click="ok()"></button></h3>

<div class="panel panel-white">
    <div class="panel-body">
        <fieldset>
            <legend translate="main.CALLRESULTS"></legend>
            <form name="userDetailForm" ng-submit="submitForm()" novalidate>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="radio clip-radio radio-primary radio-inline">
                        <input type="radio" id="REACHED" name="inline" value="REACHED" ng-model="REACHED" ng-click="GetCombobox('REACHED')">
                        <label translate="main.REACHED" for="REACHED"></label>
                    </div>
                    <div class="radio clip-radio radio-primary radio-inline">
                        <input type="radio" id="NOTREACHED" name="inline" value="NOTREACHED" ng-model="NOTREACHED" ng-click="GetCombobox('NOTREACHED')">
                        <label translate="main.NOTREACHED" for="NOTREACHED"></label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-if="showcombobox==true">
                    <label for="result">{{:: result }}</label>
                    <select name="AddressTypeID" ng-options="q.id as q.Descrition for q in surveyresults | orderBy:'+OrderIndex'" class="form-control ng" ng-model="item.SurveyResultID" ng-change="changecombobox(item.SurveyResultID)" required></select>
                </div>
                <div ng-show="showsurveydetail === true">
                    <div class="margin-top-25 col-lg-6 col-md-6 col-sm-6 col-xs-6 center" ng-show="showsurvey==true">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a ng-model="item.SMSApproved">
                                <i class="fa fa-2x fa-check-square-o" ng-if="item.SMSApproved == true" ng-click="SaveMarketingPermission(0,false)"></i>
                                <i class="fa fa-2x fa-minus-square-o" ng-if="item.SMSApproved == false" ng-click="SaveMarketingPermission(0,true)"></i>
                                <i class="fa fa-2x fa-square-o" ng-if="item.SMSApproved == null" ng-click="SaveMarketingPermission(0,true)"></i>
                                SMS
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a ng-model="item.EmailApproved">
                                <i class="fa fa-2x fa-check-square-o" ng-if="item.EmailApproved  == true" ng-click="SaveMarketingPermission(1,false)"></i>
                                <i class="fa fa-2x fa-minus-square-o" ng-if="item.EmailApproved  == false" ng-click="SaveMarketingPermission(1, true)"></i>
                                <i class="fa fa-2x fa-square-o" ng-if="item.EmailApproved  == null" ng-click="SaveMarketingPermission(1,true)"></i>
                                E-mail
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a ng-model="item.KVKKApproved">
                                <i class="fa fa-2x fa-check-square-o" ng-if="item.KVKApproved  == true" ng-click="SaveMarketingPermission(2,false)"></i>
                                <i class="fa fa-2x fa-minus-square-o" ng-if="item.KVKApproved  == false" ng-click="SaveMarketingPermission(2, true)"></i>
                                <i class="fa fa-2x fa-square-o" ng-if="item.KVKApproved  == null" ng-click="SaveMarketingPermission(2,true)"></i>
                                KVKK
                            </a>
                        </div>
                    </div>
                    <div class="margin-top-10 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showsurveynote==true">
                        <label for="Note">{{:: trNotes }}</label>
                        <textarea type="text" style='min-height:60px; max-width:400px; max-height:60px; min-width:400px;' class="form-control text-uppercase" ng-model="item.Notes"></textarea>
                    </div>
                    <fieldset class="margin-top-20 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showsurvey==true">
                        <legend>
                            {{:: trLastOrder }}
                        </legend>
                        <table class="table table-responsive">
                            <tr>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-bold">{{:: trOrderID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-bold">{{:: trOrderDate}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-bold">{{:: trOrderAmount}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-bold">{{:: trOrderPoint}}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <span>{{PersonOrders.id}}</span>
                                </td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <span>{{PersonOrders.OrderDate | date:'dd-MM-yyyy HH:mm' }}</span>
                                </td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <span>{{PersonOrders.Amount | number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}}</span>
                                </td>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <select class="form-control ng" ng-model="item.OrderPoint" required>
                                        <option ng-repeat="p in points" value="{{p.point}}">{{p.point}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button ng type="submit" class="btn btn-primary btn-wide btn-scroll btn-scroll-left fa fa-save pull-right" ng-disabled="!item.SurveyResultID" ng-click="SaveData()">
                            <span translate="main.SAVE">Save Person Address</span>
                        </button>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset>
            <legend translate="main.SURVEYDETAIL"></legend>
            <form name="userForm" ng-submit="submitForm()" novalidate>
                <table ng-table="tableParams" class="table table-striped table-hover table-condensed">
                    <tr ng-repeat="item in $data | orderBy:'-SurveyDate'"
                        ng-class="{'strike':item.isActive == false,'red':item.isActive == false}"
                        ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                        <td data-title="trSurveyType" data-sortable="'SurveyType'" class="ng">
                            {{ item.SurveyType }}
                        </td>
                        <td data-title="trSMSApproved" data-sortable="'SMSApproved'" class="ng">
                            {{ item.SMSApproved }}
                        </td>
                        <td data-title="trEmailApproved" data-sortable="'EmailApproved'" class="ng">
                            {{ item.EmailApproved }}
                        </td>
                        <td data-title="trKVKKApproved" data-sortable="'KVKApproved'" class="ng">
                            {{ item.KVKApproved }}
                        </td>
                        <td data-title="trSurveyDate" data-sortable="'SurveyDate'" class="ng">
                            {{ item.SurveyDate | date : 'dd-MM-yyyy HH:mm' }}
                        </td>
                        <td data-title="trOrderID" data-sortable="'OrderID'" class="ng">
                            {{ item.OrderID }}
                        </td>
                        <td data-title="trOrderPoint" data-sortable="'OrderPoint'" class="ng">
                            {{ item.OrderPoint }}
                        </td>
                        <td data-title="trNotes" data-sortable="'Notes'" class="ng">
                            {{ item.Notes }}
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </div>
</div>

