<style>
    #style-1::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-6::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        /*background-color: #FF8C00;*/
    }

    #style-6::-webkit-scrollbar {
        width: 15px;
        background-color: #F5F5F5;
        /*background-color: #FF8C00;*/
    }

    #style-6::-webkit-scrollbar-thumb {
        background-color: #D3D3D3;
        background-image: -webkit-linear-gradient(45deg, #DCDCDC 25%, transparent 25%, transparent 50%, #DCDCDC 50%, #DCDCDC 75%, transparent 75%, transparent);
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">{{'main.STOREPHONES' | translate}}<button class="btn btn-o pull-right ti-close" ng-click="cancel()"></button></h3>
    <br />
</div>
<br />
<div class="panel panel-body" >
    <fieldset class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scrollbar">
        <legend>{{'main.STOREPHONES' | translate}}</legend>
        <input id="searchbyname" class="form-control" focus="true" placeholder="{{'main.SEARCHBYNAME' | translate}}" type="text" ng-model="search" /><br />
        <label class="text text-bold text-primary pull-left fa fa-spinner" ng-if="isSearch==true"><span class="center">{{'main.SEARCHING' | translate}} {{search}}</span></label>
        <div class="scrollbar" id="style-6" style="overflow:auto; max-height:600px; height:600px;" ct-fullheight="window" data-ct-fullheight-exclusion="header">            
            <table ng-table="tableParams" class="table table-striped table-hover">
                <tr ng-repeat="item in Stores  | orderBy:'+name' | filter: {isActiveValue: 'true'} | filter:search">
                    <td data-title="trStore">
                        {{ item.name }}
                    </td>
                    <td data-title="trFixedPhone">
                        {{ item.phone ||'--' }}
                    </td>
                    <td class="text text-bold text-dark text-extra-large" data-title="trPhone">
                        {{ item.mobilePhone ||'--' }}
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <br />
</div>
