<div print-section ng-controller="aggregatormappingCtrl as spi" ng-init="app.layout.isSidebarClosed=true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
        <div print-remove class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                    <span class="mainTitle text-dark text-uppercase" style="font-size:25px;"
                        translate="aggregatormapping.TITLE"
                        translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10 visible-lg visible-md">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                    <a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left margin-right-10 pull-right"
                        ng-click="Back()">
                        <span translate="main.BACK"></span>
                    </a>
                </div>
            </div>
            <div print-remove class="col-sm-2 col-xs-2 margin-top-5 pull-right visible-sm visible-xs">
                <a class="btn btn-red ti-back-left pull-right" ng-click="GoBack()"></a>
            </div>
        </div>
        
    </div>
    <div id="report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15 table-responsive"
        ng-hide="isWaiting==true">
        <tabset justified="true" class="tabbable">
            <tab heading="{{'aggregatormapping.productmap' | translate}}">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="productContainer" dx-data-grid="productGridOptions" dx-item-alias="PrductMaps">

                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'aggregatormapping.store' | translate}}">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="productContainer" dx-data-grid="storeGridOptions" dx-item-alias="StoreMaps">
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'aggregatormapping.paymentmapping' | translate}}">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="paymentContainer" dx-data-grid="paymentaGridOptions" dx-item-alias="PaymentTypes">

                        </div>
                    </div>
                </div>
            </tab>            
            
        </tabset>


    </div>
</div>