<style>
    #gridContainer {
        height: calc(100vh - 140px);
    }
</style>
<div print-section ng-controller="aggregatororderlistCtrl">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
            <div print-remove class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-10">
                <span class="mainTitle text-dark" style="font-size:25px;" translate="tittle.GETIRENTEG"
                    translate-values="{ appName: app.name }">{{ ::mainTitle }}</span>
                <i class="fa fa-info-circle" style="font-size:25px;"
                    popover="{{'aggregatororderlist.MAIN' |translate}}"
                    popover-title="{{'aggregatororderlist.INFORMATION' |translate}}" popover-trigger="mouseenter"
                    popover-placement="bottom"></i>
            </div>
        </div>
        <div id="report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15 table-responsive">
            <div id="gridContainer" dx-data-grid="TrendsGridOptions" dx-item-alias="cell">
            </div>
        </div>
    </div>
</div>