<div ng-init="app.layout.isSidebarClosed=true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="openordersCtrl">
    <div class="row">
        <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-title">{{'main.OPENORDERS' |translate}}</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label translate="main.STORE" for="Store"></label>
                <select id="StoreID" class="form-control ng" ng-options="q.id as q.name for q in stores | orderBy:'+name'" ng-model="StoreID" ng-change="selectStore(StoreID)"></select>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row center" ng-if="ShowObject==true">
        <span class="margin-bottom-10">
            <img src="assets/images/loader.gif" />
        </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-white margin-top-20" ct-fullheight="window" data-ct-fullheight-exclusion="header" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" ng-hide="ShowObject==true">
        <div class="row panel panel-white margin-top-5" ng-repeat="order in orders" order="order">
            <div class="row panel-heading">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-bold text-dark">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{'main.ORDERNUMBER' | translate}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{'main.PERSONNAME' | translate}}</span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.ORDERSTATE' | translate}}</span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{'main.PAYMENTSTATUS' | translate}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{'main.STORENAME' | translate}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{'main.ORDERDATE' | translate}}</span>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                        <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-o btn-success pull-right" ng-click="SaveOpenOrders(order)">Kapat</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-capitalize">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><label class="text-bold" style="color:black;">{{order.OrderNumber}}</label><br />{{order.id}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{order.persons[0].Person.name}}</span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{order.OrderState}}</span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{order.PaymentStatus}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{order.Store.name}}</span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{order.OrderDate | date: "dd-MM-yyyy / HH:mm:s" }}</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-white" id="panel5">
                    <div class="panel-heading">
                        <h4 class="panel-title text-primary" ng-click="collapse =! collapse">{{'main.ORDERDETAILS' |translate}} <label class="pull-right text-red text-bold">{{order.Amount |number:2 }} {{:: 'main.CURRENCY_SYMBOL' | translate}} </label></h4>
                    </div>
                    <div collapse="panel1" ng-if="collapse" class="panel-wrapper">
                        <div class="panel-body">
                            <div class="row panel-body">
                                <form role="form">
                                    <div><span ng-repeat='member in order.items'><kvsorder-item member='member'></kvsorder-item></span></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>