<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="paymentmatchingCtrl as pm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="mainTitle text-dark col-lg-8 col-md-8 col-sm-8 col-xs-12" style="font-size:25px;" translate="tittle.PAYMENTMACHING" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
        <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right" ng-click="addItem()">
            <span translate="main.ADD"></span>
        </a>
        <p>
            <input id="#search" class="form-control" placeholder="{{'main.SEARCHBYNAME' | translate}}" type="text" ng-model="pm.search" ng-model-options="{ debounce: 500 }" autofocus />
        </p>
    </div>
    <div>
        <table ng-table="pm.tableParams" class="table table-striped table-hover">
            <tr ng-repeat="item in $data"
                ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                <td data-title="trNGPaymentTypes" data-sortable="'ObjectID'" style="width:15%" ng-click="rowform.$show()">
                    <span class="text-capitalize" editable-select="item.ObjectID" e-name="ObjectID" e-ng-model="item.ObjectID" e-form="rowform"
                          e-ng-options="q.id as q.name for q in paymenttypes | orderBy:'+name' " e-style="width: 10vw;">
                        {{ShowObject('paymenttypes','id',item.ObjectID,'name')}}
                    </span>
                </td>
                <td data-title="trRop6PaymentTypes" data-sortable="'ExternalObjectID'" style="width:15%" ng-click="rowform.$show()">
                    <span class="text-capitalize" editable-select="item.ExternalObjectID" e-name="ExternalObjectID" e-ng-model="item.ExternalObjectID" e-form="rowform"
                          e-ng-options="q.id as q.name  for q in rop6payments | orderBy:'+name' " e-style="width: 10vw;">
                        {{ShowObject('rop6payments','id',item.ExternalObjectID,'name')}}
                    </span>
                </td>
                <td style="white-space: nowrap;grid-column-sizing:auto;" data-title="trCommands" width="5%">
                    <form editable-form name="rowform" onaftersave="saveData(item)" ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="inserted == item|| !item.id">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-transparent btn-sm tooltips ti-check"></button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)" class="btn btn-transparent btn-sm tooltips ti-close"></button>
                    </form>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{'main.EDIT' |translate}}" tooltip-placement="top" ng-click="rowform.$show()"></a>
                        <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs" tooltip="{{'main.DELETE' |translate}}" tooltip-placement="top" ng-click="removeItem($index)"></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-pencil" ng-click="rowform.$show()" translate="main.EDIT"> Edit</a>
                                </li>
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-close" ng-click="removeItem($index)" translate="main.DELETE"> Remove</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>