<div class="col-lg-12">
    <fieldset class="col-lg-12 col-xs-12 ">
        <legend>
            KDS-2
        </legend>
        <div class="row border-around bg-primary" style="height:40px;">
            <div class="col-lg-2 col-xs-12">
                1 X
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-8 col-xs-12">
                Akdeniz Pizza
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-2 col-xs-12">
                180 sn
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
        </div>
        <div class="row border-around bg-primary" style="height:40px;">
            <div class="col-lg-2 col-xs-12">
                1 X
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-8 col-xs-12">
                Çiftlik Pizza
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-2 col-xs-12">
                185 sn
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
        </div>
        <div class="row border-around bg-primary" style="height:40px;">
            <div class="col-lg-2 col-xs-12">
                1 X
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-8 col-xs-12">
                Pretzel Pizza
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-2 col-xs-12">
                195 sn
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
        </div>
        <div class="row border-around bg-yellow" style="height:40px;">
            <div class="col-lg-2 col-xs-12">
                1 X
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-8 col-xs-12">
                Sucukbol Pizza
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-2 col-xs-12">
                60 sn
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
        </div>
        <div class="row border-around bg-red" style="height:40px;">
            <div class="col-lg-2 col-xs-12">
                1 X
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-8 col-xs-12">
                Piknik Pizza
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
            <div class="col-lg-2 col-xs-12">
                30 sn
                <!--<order-items collection='orderItems'></order-items>-->
            </div>
        </div>

    </fieldset>
</div>
<a class="btn btn-wide btn-red btn-scroll btn-scroll-top ti-back-left  pull-right " href="#/app/kitchendisplay/kitchendisplay">
    <span>Back</span>
</a>
<a class="btn btn-wide btn-blue btn-scroll btn-scroll-top ti-new-window  pull-left " href="#/app/kitchendisplay/runner">
    <span>Prepared</span>
</a>