<div ng-controller="promotionsettingCtrl as ps">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 margin-top-10">
                <span class="mainTitle text-dark" style="font-size:25px;" translate="tittle.PROMOTIONSETTING" translate-values="{ appName: app.name }">{{ mainTitle }}</span><br /><br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-top-10">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                <a class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus pull-right" ng-click="addItem()">
                    <span translate="main.ADD"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
        <table ng-table="ps.tableParams" class="table table-striped table-hover">
            <tr ng-repeat="item in $data | orderBy: '+name'"
                ng-keyup="FormKeyPress($event,rowform,$data[$index],$index)">
                <td data-title="trSettingName" data-sortable="'name'" style="width:20%" ng-click="rowform.$show()">
                    <span editable-text="item.name" e-name="name" e-form="rowform" e-ng-model="item.name" e-style="width:20vw;">
                        {{ item.name }}
                    </span>
                </td>
                <td data-title="trisActive" data-sortable="'isActive '" style="width:5%">
                    <span class="text-capitalize" editable-checkbox="item.isActive" e-name="isActive" e-form="rowform" e-ng-model="item.isActive" e-ng-true-value="true" e-ng-false-value="false" e-style="width:5vw;">
                        {{:: item.isActive && "True" || "False"}}
                    </span>
                </td>
                <td data-title="trStartDate" data-sortable="'StartDate'" width="20%" ng-click="rowform.$show()">
                    <input id="Date" type="text" class="form-control" ng-model="item.StartDate" readonly ng-click="datepopupStartDate(item)" ng-show="rowform.$visible" e-style="width:20vw;">
                    <span ng-show="!rowform.$visible" e-name="StartDate" e-form="rowform" e-ng-model="item.StartDate">
                        {{ item.StartDate| date:'dd.MM.yyyy' }}
                    </span>
                </td>
                <td style="white-space: nowrap; grid-column-sizing:auto;" data-title="trCommands" width="5%">
                    <form editable-form name="rowform" onaftersave="saveData(item)" ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="inserted == item|| !item.id">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-transparent btn-sm tooltips ti-check"></button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)" class="btn btn-transparent btn-sm tooltips ti-close"></button>
                    </form>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <a class="btn btn-transparent btn-sm tooltips ti-pencil hidden-sm hidden-xs" tooltip="{{'main.EDIT' |translate}}" tooltip-placement="top" ng-click="rowform.$show()"></a>
                        <a class="btn btn-transparent btn-sm tooltips ti-close hidden-sm hidden-xs" tooltip="{{'main.DELETE' |translate}}" tooltip-placement="top" ng-click="removeItem($index)"></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-pencil" ng-click="rowform.$show()" translate="main.EDIT"> Edit</a>
                                </li>
                                <li>
                                    <a class="btn btn-transparent btn-sm tooltips ti-close" ng-click="removeItem($index)" translate="main.DELETE"> Remove</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
